### SublimeText ###
*.sublime-workspace

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific

node_modules/
bower_components/
.tmp
/src/main.js
#dist
skin/
App_Start/
Content/
Controllers/
Global.asax
Global.asax.cs
Models/
Properties/
Views/
Web.Debug.config
Web.Release.config
Web.config
ZCZJ.MainSite.csproj
ZCZJ.MainSite.csproj.user
bin/
data/
obj/
packages.config
robots.txt
static/
