//底部
.footer_bg
    .zj-container.cf
        .l
            dl
                dt
                    img(src="skin/img/logo.png", alt="")
                dd.footer_link

                    a(href="#") 关于我们
                     ||
                    a(href="#") 网站公告
                     ||
                    a(href="#") 商务合作
                     ||
                    a(href="#") 隐私声明

                dd.footer_address
                    p 深圳市网筹互联网金融服务有限公司.
                    p ICP证：粤ICP备14040204号-2


        .r
            dl
                dd.footer_wx.cf
                    img.l(src="skin/img/zjm_code.jpg", alt="")
                    p.t_black 官方微信号
                    p 联系人：之家妹
                    p 联系电话：0755-82557958
                    p 邮箱：service@zczj.com
            //-
                dl.footer_link
                dt 友情链接
                dd.footer_link_keys
                    a(href="#") 红岭创投
                    a(href="#") 网贷中国
                    a(href="#") 众筹社区
                    a(href="#") 云筹
                    a(href="#") 众投邦
                    a(href="#") 火球网
                    a(href="#") P2P网贷
                    a(href="#") P2P网贷平台
                    a(href="#") 高收益理财产品
                    a(href="#") 创投圈
                    a(href="#") 炒股入门知识
                    a(href="#") 信用卡排行榜
                    a(href="#") 安捷财富
                    a(href="#") p2p理财连锁
                    a(href="#") 互联网金融
                    a(href="#") 私募排行网
                    a(href="#") 信用卡申请
                    a(href="#") 借贷网
                    a(href="#") 广东互联网金融协会
                    a(href="#") 网贷
                    a(href="#") 众筹
                    a(href="#") 深窗生活频道
                    a(href="#") 财股网财经
                    a(href="#") 理财
                    a(href="#") 基金投资
                    a(href="#") 希财众筹超市
                    a(href="#") 众投邦
                    a(href="#") 火球网
                    a(href="#") P2P网贷
                    a(href="#") P2P网贷平台
                    a(href="#") 高收益理财产品
                    a(href="#") 创投圈
                    a(href="#") 炒股入门知识
                    a(href="#") 信用卡排行榜
                    a(href="#") 安捷财富
                    a(href="#") p2p理财连锁
                    a(href="#") 互联网金融
                    a(href="#") 私募排行网
                    a(href="#") 信用卡申请
                    a(href="#") 借贷网
                    a(href="#") 广东互联网金融协会
                    a(href="#") 网贷
                    a(href="#") 众筹
                    a(href="#") 深窗生活频道
                    a(href="#") 财股网财经
                    a(href="#") 理财
                    a(href="#") 基金投资
                    a(href="#") 希财众筹超市
                dd.show_link_btn
                    span 查看更多

                dd.copyright 版权所有 © 深圳网筹互联网金融服务有限公司旗下《众筹之家》

