<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        include style
        <!--[if lt IE 9]>
        script(src="skin/js/html5shiv.min.js")
        <![endif]-->
        //-jq“˝”√
        script(src="skin/js/jquery.min.js")
        //-RAP
            script(src="http://rap.taobao.org/rap.plugin.js?projectId=7170")

    body
        include header
        block content
        //-include footer
        #scrollBar
            a(href="http://p.qiao.baidu.com//im/index?siteid=7347981&ucid=10455286").zxkf
            a(href="javascript:;").wxCode
                span.wxCodeBox(style="left: 0px; width: 0px; height: 0px; opacity: 0;")
                    <img src="/skin/images/code.jpg" alt="">
            a(href="/special/androiddownpage").down_app
            a(href="javascript:;").goTopBtn

        include script
        script.
            $('.wxCode').mouseenter(function() {
                  $(this).find('.wxCodeBox').stop().animate({
                      'left': '-120',
                      'width': '120',
                      'height':'120',
                      'opacity':'1'
                  },200);
              });
            $('.wxCode').mouseleave(function() {
                $(this).find('.wxCodeBox').stop().animate({
                      'left': '0',
                      'width': '0',
                      'height':'0',
                      'opacity':'0'
                  },200);
              });
            $(document).on('scroll',function(){

                         if($(document).scrollTop()>=300){
                            $('.goTopBtn').fadeIn();
                    }else{
                        $('.goTopBtn').fadeOut();
                    }
                });
              $('.goTopBtn').on('click',function(){
                     $('html,body').animate({
                         scrollTop: '0px'
                     }, 600);
                     return false;
                 });