dl
    dt
        span.author_photo
            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160729/20160729114653.jpg", alt="")
    dd.jf 我的积分：
        span.f_orange 3200
        |分
    dd.icon_list
        a.zczj.icon_u_mobile(href="#")
        a.zczj.icon_u_email(href="#")
        a.zczj.icon_u_user(href="#")
p.t_center
    a(href="#") 进入大股东
ul.user_dh
    li
        a(href="#").cur 我的评论
    li
        a(href="#") 我的收藏
    li
        a(href="#") 专栏文章
    li
        a(href="#") 个人信息
    li
        a(href="#") 我的消息
