extends Shade/layout
block content
    link(rel="stylesheet", href="skin/css/login.min.css")
    .bg_white.bg_login
            .page_warp
                .login_form.cf.bindAcc
                    //左侧 505
                    .login_main
                        .login_t 找回密码
                        .login_con
                            //普通登录
                            .zj_form.zj_form_1
                                ul.tab_login_box(style="margin-top:30px;")
                                    li.find_step.step_2
                                        img(src="skin/img/step3.png", alt="")
                                    li.setPwd_suss
                                        img(src="skin/img/setpwd.png", alt="")
                                    li.login_bnt_li(style="margin-top:30px;")
                                        a(href="#").login_btn.zx_btn 登录