extends Shade/layout
block content
    link(rel="stylesheet", href="skin/css/zixun.min.css")
    .bg_white
        .page_warp
            .contanier.cf.mb40
                //右侧
                .zx_side.zx_side_294.bg_white.r
                    .zx_side_box.zx_side_top10.cf
                        .zx_s_t TOP10
                        .sort_bar
                            a(href="#").cur 日排行
                            a(href="") 周排行
                        ul
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                        .show_more.t_center
                            a(href="#").zx_btn.btn_blue 查看更多
                    .zx_side_box.fastNewsShare.cf
                        img.l(src="skin/img/code_wx.jpg", alt="")
                        p.
                            资讯太多看不过来？<br>
                            扫描二维码关注众筹之家<br>
                            官方微信号看每日精选

                //左侧
                .zx_main.zx_main_754.l
                    .fastNewsBanner
                        a(href="#")
                            img(src="skin/img/fastnews.png", alt="")
                    //快讯列表
                    .fastNewsList
                        dl
                            dt
                                a(href="#") 股权众筹洗牌大战启幕 硕果仅存的几大平台究竟活得咋样?
                            dd.txt.
                                有关数据显示，到今年6月底，众筹平台总数已达414家，其中正常平台267家，占总平台数的64.5%;停运、倒闭或转型的平台至少有147家。这267家正常平台中，私募股权(股权众筹)平台为136家，约占51%。
                            dd.fastNewsTime
                                span.time 10分钟前
                        dl
                            dt
                                a(href="#") 股权众筹洗牌大战启幕 硕果仅存的几大平台究竟活得咋样?
                            dd.txt.
                                有关数据显示，到今年6月底，众筹平台总数已达414家，其中正常平台267家，占总平台数的64.5%;停运、倒闭或转型的平台至少有147家。这267家正常平台中，私募股权(股权众筹)平台为136家，约占51%。
                            dd.fastNewsTime
                                span.time 10分钟前
                        dl
                            dt
                                a(href="#") 股权众筹洗牌大战启幕 硕果仅存的几大平台究竟活得咋样?
                            dd.txt.
                                有关数据显示，到今年6月底，众筹平台总数已达414家，其中正常平台267家，占总平台数的64.5%;停运、倒闭或转型的平台至少有147家。这267家正常平台中，私募股权(股权众筹)平台为136家，约占51%。
                            dd.fastNewsTime
                                span.time 10分钟前
                        dl
                            dt
                                a(href="#") 股权众筹洗牌大战启幕 硕果仅存的几大平台究竟活得咋样?
                            dd.txt.
                                有关数据显示，到今年6月底，众筹平台总数已达414家，其中正常平台267家，占总平台数的64.5%;停运、倒闭或转型的平台至少有147家。这267家正常平台中，私募股权(股权众筹)平台为136家，约占51%。
                            dd.fastNewsTime
                                span.time 10分钟前
                        dl
                            dt
                                a(href="#") 股权众筹洗牌大战启幕 硕果仅存的几大平台究竟活得咋样?
                            dd.txt.
                                有关数据显示，到今年6月底，众筹平台总数已达414家，其中正常平台267家，占总平台数的64.5%;停运、倒闭或转型的平台至少有147家。这267家正常平台中，私募股权(股权众筹)平台为136家，约占51%。
                            dd.fastNewsTime
                                span.time 10分钟前
                        dl
                            dt
                                a(href="#") 股权众筹洗牌大战启幕 硕果仅存的几大平台究竟活得咋样?
                            dd.txt.
                                有关数据显示，到今年6月底，众筹平台总数已达414家，其中正常平台267家，占总平台数的64.5%;停运、倒闭或转型的平台至少有147家。这267家正常平台中，私募股权(股权众筹)平台为136家，约占51%。
                            dd.fastNewsTime
                                span.time 10分钟前
                        //-翻页
                            <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>
                        //-laoding
                        .loadingMore
                            a(href="javascript:void(0);")#loadingBtn.zx_btn.btn_blue.loading 加载更多



    include Shade/footer