extends Shade/layout
block content
    link(rel="stylesheet", href="skin/css/zixun.min.css")
    style.
        .qtlist{width: 50%; margin: 0 auto; line-height: 50px; box-shadow: 0 0 6px #ddd; margin-top: 60px;}
        .qtlist dt,.qtlist dd{ background: #fff; padding: 0 20px;}
        .qtlist dt{border-bottom: 1px #dcdcdc solid;}
        .qtlist dd{padding: 0;}
        .qtlist dd a{display: block; padding: 0 20px;}
        .qtlist dd a:hover{ background: #ccc;}
    .page_warp
        .contanier.cf
            dl.qtlist
                dt.cf
                    span.l 切图页面进度列表
                    span.r --老苏

                dd
                    a(href="news-detail.html") 专栏内容页面
                    a(href="news-index.html") 专栏首页
                    a(href="user-Columns.html") 个人中心-专栏文章
                    a(href="user_collect.html") 个人中心-我的收藏
                    a(href="user_comment.html") 个人中心-我的评论
                    a(href="user_Info.html") 个人中心-个人信息
                    a(href="user_myMsg.html") 个人中心-我的消息
                    a(href="zixun-index.html") 资讯首页
                    a(href="zixun-detail.html") 资讯内容首页
                    a(href="PlatformNav.html") 平台导航
                    a(href="Plat_Detail.html") 平台详情
                    a(href="Plat_Intro.html") 平台介绍
                    a(href="Plat_zcProject.html")  众筹项目
                    a(href="Zm_Writer.html")  招募作家
                    a(href="Contribute.html") 投稿
                    a(href="Venture.html")  寻求创业报道
                    a(href="Plat_report.html")  平台寻求报道
                    a(href="Teach_index.html")  学院首页
                    a(href="Teach_Detail.html")  学院课程详情页
                    a(href="Teach_Video.html")  学院视频详情页
                    a(href="DL_login.html")  登录
                    a(href="DL_reg.html")  注册
                    a(href="DL_bindeAcc.html")  账号绑定
                    a(href="DL_Find_Pwd.html")  找回密码
                    a(href="DL_Find_RsetPwd.html")  重置密码
                    a(href="DL_Find_Suss.html")  重置密码成功
                    a(href="Zj_index.html")   首页
                    a(href="FastNews.html")   快讯
                    a(href="Specil.html")   专题