extends Shade/layout
block content
    link(rel="stylesheet", href="skin/css/zixun.min.css")
    //更换背景图 news_banner03.jpg(深度) news_banner02.jpg(人物) news_banner01.jpg(数据)
    .news_warp(style="background-image:url(skin/img/news_banner.jpg")
        .page_warp
            a(href="#").btn.btn_back
                    i.zczj.icon-back
                    | 返回
                .news_detail
                    .right
                        .new_box_right.
                            <div class="new_box_right_items new_box_right_author">
                            <span class="author_photo">
                            <a href="/column/43060"><img width="96" height="96" src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160729/20160729114653.jpg"></a>
                            </span>
                            <p class="author_name">子野</p>
                            <div class="author_warp">
                            <p class="author_motto" title="之家首席记者。互联网众筹研究员">之家首席记者。互联网众筹研究员</p>
                            </div>
                            <div class="readCount">
                            <dl>
                            <dt>
                            <span class="zczj_heart">
                            <span class="zan_num">
                            101 </span>
                            </span>
                            </dt>
                            <dd>阅读数</dd>
                            </dl>
                            <dl><dt>85</dt><dd>期数</dd></dl>
                            </div>
                            </div>

                            <div class="new_box_right_items new_box_right_items_history">
                            <div class="new_box_t cf">
                            <span class="cur">往期回顾</span>
                            <a href="/column/43060">查看更多&gt;</a>
                            </div>
                            <div class="new_box_con_sub">
                            <dl>
                            <dt>
                            <a href="/specialdetail/8354" target="_blank">被称为股权众筹最成功的项目 如今被爆出严重的数据造假</a>
                            </dt>
                            <dd>
                            近日，有多个匿名用户在社交平台爆料称，“大姨吗”融资BP数据造假严重，与研究机构监控数据相差超过10倍。作为股权众筹最成功的项目，大姨吗在近些年的疯狂融资，一度风光无限，如今沦落到这般境地，令人唏嘘。
                            </dd>
                            </dl>
                            <dl>
                            <dt>
                            <a href="/specialdetail/8328" target="_blank">深度：被逼入绝境的爱房筹 到底怎么了？</a>
                            </dt>
                            <dd>
                            一面是步步紧逼的投资人，另一面是监管的压力，不知陈宏楷在办公室看到外面珠江新城的景象时，是否会感慨去年的此时光景？
                            </dd>
                            </dl>
                            <dl>
                            <dt>
                            <a href="/specialdetail/8191" target="_blank">证监会创新部解散 并不代表股权众筹陷入无人监管|观察</a>
                            </dt>
                            <dd>
                            如果单单从股权众筹监管细则至今未出炉的理由来推断创新部解散，那么未免有些夸大其辞，更多的是创新部解散后，对股权众筹监管会有什么影响？
                            </dd>
                            </dl>
                            <dl>
                            <dt>
                            <a href="/specialdetail/8171" target="_blank">明星理财成风 如何避免王宝强亿元资产分配事件重演？</a>
                            </dt>
                            <dd>
                            我们将从王宝强亿元资产分配的角度来聊聊，到底应该如何分，有什么分割难题，以及明星理财成风的大趋势下，如何有效防止王马财产分配事件重演？
                            </dd>
                            </dl>
                            <dl>
                            <dt>
                            <a href="/specialdetail/8127" target="_blank">《盗墓笔记》为何带不动鹿港文化的股价？</a>
                            </dt>
                            <dd>
                            《盗墓笔记》电影票房本身不算太差，但投资人对电影投资“发热”的状态正在消退，趋于理性，让投资人意识到电影票房与企业整体利润并不存在绝对关系。
                            </dd>
                            </dl>
                            </div>
                            </div>


                    .left.mt0.
                        <div class="new_detail_box new_detail_box_ztxq szh">
                        <div class="new_detail_title">
                        被称为股权众筹最成功的项目 如今被爆出严重的数据造假
                        </div>
                        <div class="new_detail_time cf">
                        <span class="text_soue">来源：众筹之家</span>
                        <span class="time">2016-08-29 17:03</span>
                        </div>
                        <div class="new_inf_content" id="showImg">
                        <p><strong><span style="font-size: 16px;">　　众筹之家讯 </span></strong><span style="font-size: 16px;">近日，有多个匿名用户在社交平台爆料称，“大姨吗”融资BP数据造假严重，与研究机构监控数据相差超过10倍。作为<a href="http://www.zczj.com" target="_blank">股权众筹</a>最成功的项目，大姨吗在近些年的疯狂融资，一度风光无限，如今沦落到这般境地，令人唏嘘。</span></p><p><strong><span style="font-size: 16px;">　　</span></strong></p><p><strong><span style="font-size: 16px;">　　BP数据“大放卫星”</span></strong></p><p><strong><span style="font-size: 16px;">　　</span></strong></p><p><strong><span style="font-size: 16px;">　　许诺“回扣” 出现离职潮</span></strong></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　8月28日晚，互联网科技风云榜爆料称，“大姨吗将BP中的MAU数据放大到4200万，而易观千帆中7月份大姨吗MAU为388.05万，另一家研究机构QuestMobile的数据显示，6月份大姨吗MAU为515万，DAU仅为80万。”</span><span style="font-size: 16px; text-decoration: underline;"><strong>换句话说，大姨吗BP数据与机构的数据相差超过10倍。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　除了数据造假之外，该文还透露大姨吗为了完成融资目标，甚至私下给部分投资经理许诺以“回扣”。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　另外，在知乎平台上，有离职员工爆料大姨吗内部管理混乱，广泛存在为领导歌功颂德的情形，个别部门也因此出现离职潮。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　受这些因素的影响，导致大姨吗持续10个月的融资计划，至今无下文。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　有业内人士分析，</span><span style="font-size: 16px; text-decoration: underline;"><strong>类似大姨吗企业的数据造假，本来不稀奇，甚至很多知名企业都曾出现过公开数据与真实数据有差异的情况，但如果是企业内部出现问题，那肯定会谨慎投资，这才是真正拖延它融资步伐的主要因素。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><strong><span style="font-size: 16px;">　　被称作股权众筹最成功项目</span></strong></p><p><strong><span style="font-size: 16px;">　　</span></strong></p><p><strong><span style="font-size: 16px;">　　转型之路 前途未卜</span></strong></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　据公开资料显示，大姨吗是一款以女性经期健康为核心的手机应用，问世于2012年，同时也是国内最活跃的移动女性社区之一</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　</span><span style="font-size: 16px; text-decoration: underline;"><strong>2012年6月，大姨吗作为创业项目，成功登陆国内首家股权众筹平台“天使汇”，计划融资200万，出让17%股权，最终成功完成融资</strong></span><span style="text-decoration: underline;"><strong><span style="text-decoration: underline; font-size: 16px;">。藉由这笔资金，大姨吗度过了创业最艰难的时期。</span></strong></span><span style="font-size: 16px;">随后在2013年4月，大姨吗获得真格基金、贝塔斯曼的数百万美元A轮融资。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　同年9月，大姨吗获得红杉资本、贝塔斯曼千万美元B轮融资，成功带动了大姨吗的快速发展，迅速向外扩张。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　仅过了半年，2014年6月，大姨吗获得红杉资本、贝塔斯曼、策源创投3000万美元C轮融资。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　到了2015年，大姨吗分别在7月和10月获得汤臣倍健6200万人民币D轮融资和汤臣倍健、海通开元1.3亿人民币E轮融资。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　</span><span style="font-size: 16px; text-decoration: underline;"><strong>正是因为大姨吗在近些年完成多次融资，企业价值不断提升，风险机构也十分看好，使大姨吗成为近些年最为成功的<a href="https://www.zczj.com/news/2014-08-01/content_179.html" target="_blank">股权众筹项目</a>之一，甚至抛出过这样的问题：到底是天使汇成就了大姨吗，还是大姨吗成就了天使汇？</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　但是，</span><span style="font-size: 16px; text-decoration: underline;"><strong>在这么多次的融资后，大姨吗显然遇到了发展瓶颈，转型医疗健康是否可行仍未知，前途未卜，面对老对手“美柚”在商业化进程的加快，大姨吗投资方还能保持多久的耐心？另外，医疗健康道路上的政策风险，也在随时威胁着大姨吗的转型之路。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　值得一提的是，8月中旬，老对手“美柚”宣布获得10亿元E轮融资，并计划启动国内上市。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　不过，在2014年4月，美柚也曾经被媒体爆出严重的数据造假，依靠“网络水军”刷数据，成就“行业第一”。</span></p><p><span style="font-size: 16px;">　　</span></p><p><strong><span style="font-size: 16px;">　　“资本寒冬”再被提出</span></strong></p><p><strong><span style="font-size: 16px;">　　</span></strong></p><p><strong><span style="font-size: 16px;">　　个人投资者逐渐崭露头角</span></strong></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　从去年年底开始，就互联网创业公司的“资本寒冬”是否真的到来的问题，被创投圈人士广泛讨论，争议不少。有创投人士认为，资本市场不存在“资本寒冬”，真的会出现寒冬的企业，往往是盲目入场、缺乏创新、只谈情怀的创业公司，这些公司其实是被市场淘汰掉的，好的企业不会有“寒冬”。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　但是，不可否认的是，今年出现的淘在路上、爱鲜蜂、博湃养车等公司受困于资本市场，也确实是事实，</span><span style="font-size: 16px; text-decoration: underline;"><strong>甚至有业内人士认为，“资本寒冬”从来没有离去，而且时间跨度很长！</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　回到大姨吗这件事，作为行业领军品牌，除了美柚之外，其他平台几乎等同于“陪跑”，但即便是这样级别的企业，仍然出现持续10个月的融资无人接盘。</span><span style="font-size: 16px; text-decoration: underline;"><strong>这一方面说明资本对企业的选择更加谨慎，另一方面也佐证了“资本寒冬”，投资机构对互联网创业的狂热有所消退。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　然而，投资机构对互联网创业公司的冷淡，并不影响个人投资者在“寒冬”中崭露头角。以<a href="http://www.zczj.com" target="_blank">互联网众筹</a>行业为例，仅2016年上半年，全国众筹行业投资人次达5442.65万人次，其中非公开股权融资投资人次为4.07万人次。当然，占比少的原因，主要受股东人数限制和项目数量多少的影响。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　据专业研究机构显示，预计到2020年，可投资资产大于600万人民币的家庭将达到346万户。目前2015年的数据为201万户，年平均增速将达到13%，远高于全球5.9%的平均增速。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　另外，波士顿咨询公司在对大于600万和小于3000万的高净值客户的调查中，发现高净值用户普遍认为国内房地产投资已经告别了高增长时代，将会把投资方向集中在稳健型产品上，而在大于3000万的高净值客户中，则更青睐于PE/VC、海外资产等高风险投资。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　值得一提的是，作为滴滴最早的投资人王刚，四年前投了70万，如今回报超过35亿元，一度被创投圈传为佳话，也带动了越来越多的个人投资者进入天使投资领域。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　</span><span style="font-size: 16px; text-decoration: underline;"><strong>不过，</strong></span><span style="font-size: 16px; text-decoration: underline;"><strong>虽然个人投资者逐渐在资本市场逐渐崭露头角，但投资者自身素质仍然有待提高。一方面，有一些“暴发户”的投资者是为了投资而投资，只为了获得“投资人”的称号；另一方面，受制于知识面和人脉背景，个人投资者对项目方提供的数据真实性，无法做出准确的判断，很容易导致投资失败。</strong></span></p><p><br></p>
                        </div>
                        <div class="new_tags_array">
                        <a href="/news/tag?k=%e5%a4%a7%e5%a7%a8%e5%90%97" class="gray" title="大姨吗">大姨吗</a>
                        <a href="/news/tag?k=%e8%82%a1%e6%9d%83%e4%bc%97%e7%ad%b9" class="gray" title="股权众筹">股权众筹</a>
                        <a href="/news/tag?k=%e6%95%b0%e6%8d%ae%e9%80%a0%e5%81%87" class="gray" title="数据造假">数据造假</a>
                        </div>
                        <dl class="new_erCode">
                        <dd>
                        <b>
                        （众筹之家微信公众号：zczhijia），请扫描二维码关注
                        </b>
                        解读新闻热点、呈现敏感事件、更多独家分析，尽在众筹之家微信
                        </dd>
                        <dt>
                        <img width="114" height="114" src="https://www.zczj.com/skin/images/code.jpg">
                        </dt>
                        </dl>
                        <div class="new_share cf">
                        <span class="statement">声明</span>
                        <div class="share" style="float:right">
                        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1472889236187">
                        <span style="float: left; font-size: 12px; color: #666; line-height: 25px;">分享到：</span>
                        <a style="width: auto;" href="#" class="bds_more" data-cmd="more"></a>
                        <a style="width: auto;" title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                        <a style="width: auto;" title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                        <a style="width: auto;" title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
                        <a style="width: auto;" title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a>
                        <a style="width: auto;" title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                        </div>
                        <script>
                                                        window._bd_share_config = {
                                                            common: {
                                                                bdPic: 'https://www.zczj.com/skin/images/logo.png'
                                                            },
                                                            share: [{
                                                                "bdSize": 16
                                                            }],
                                                        }

                                                        //以下为js加载部分
                                                        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];;
                                                    </script>
                        </div>
                        <div class="statement_box">
                        <div class="fl f14" style="color:#666; line-height:23px;">
                        <p>1.众筹之家(www.zczj.com)所发布、转载、摘编的文章大多来源于互联网（我们会尽量标注来源和作者）。转载目的在于传递更多信息，不代表本网观点及真实性，如果作品内容、版权和其它问题侵害到您的权益，我们感到很抱歉，并将火速处理。联系方式：0755-82557958，也诚挚地欢迎您给我们投稿，谢谢！</p>
                        <p>2.众筹之家的原创文章，版权属于众筹之家。允许转载的文章转载请注明作者和“来源：众筹之家(www.zczj.com)”，不允许转载的文章仅供阅读。不尊重原创的行为众筹之家或将追究责任。</p>
                        </div>
                        </div>
                        </div>
                        </div>

                        <div class="new_detail_box new_detail_box_tjxm">
                        <div class="new_detail_title">
                        推荐项目
                        </div>
                        <div class="new_detail_con cf">
                        <dl class="ml0">
                        <dt><img src="https://zczj01.oss-cn-shenzhen.aliyuncs.com/zhongchou/20160902/20160902155554.jpg" width="226" height="155"></dt>
                        <dd>
                        <a href="/zhongchou/detail/1200" target="_blank">
                        <p class="pro_title">一站式O2O服务商</p>
                        <p class="persent">13</p>
                        <p class="staute">融资中</p>
                        </a>
                        </dd>
                        </dl>
                        <dl class="">
                        <dt><img src="https://zczj01.oss-cn-shenzhen.aliyuncs.com/zhongchou/20160819/20160819171451.png" width="226" height="155"></dt>
                        <dd>
                        <a href="/zhongchou/detail/1198" target="_blank">
                        <p class="pro_title">硕和国际</p>
                        <p class="persent">48</p>
                        <p class="staute">融资中</p>
                        </a>
                        </dd>
                        </dl>
                        <dl class="">
                        <dt><img src="https://zczj01.oss-cn-shenzhen.aliyuncs.com/zhongchou/20160830/20160830183320.jpg" width="226" height="155"></dt>
                        <dd style="display: none; opacity: 1;">
                        <a href="/zhongchou/detail/1197" target="_blank">
                        <p class="pro_title">网球少女</p>
                        <p class="persent">17</p>
                        <p class="staute">融资中</p>
                        </a>
                        </dd>
                        </dl>
                        </div>
                        <link href="/skin/plugs/comment/css/comment.css" rel="stylesheet">
                        <div id="comment">
                        <input type="hidden" id="newid" value="8354">
                        <div class="comment_head">
                        网友评论
                        <span class="commentCount">（已有1条评论）</span>
                        </div>
                        <div class="comment_post_txt">
                        <div class="comment_post_t">
                        <textarea name="saytext_0" placeholder="来说两句吧..." id="saytext_0" class="input" data-parent="0" data-comm="0"></textarea>
                        <div class="comment_post_btn">
                        <i class="icon icon_face emotion"></i>
                        <a href="javascript:void(0)" class="btn btn_comment">评论</a>
                        <input type="text" id="commCode" name="commCode" class="input2" autocomplete="off">
                        <img class="reg-num" src="/news2016/VerifyImageComment" id="VerifyImageTop" title="看不清？点击换一个" onclick="javascript:document.getElementById('VerifyImageTop').src='/news2016/VerifyImageComment?r='+Math.random();return false;">
                        </div>
                        </div>
                        </div>
                        <div class="comment_list comment_hot">
                        </div>
                        <div class="comment_list comment_new">
                        <div class="comment_list_t">以下为最新评论</div>
                        <div class="com_list">
                        <div class="com_li">
                        <span class="author"><img src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160729/20160729113151.jpg" onerror="nofind(this)" alt=""></span>
                        <p class="com_title"><span class="com_user">salena飞飞飞飞飞飞</span>：<img src="/skin/plugs/comment/arclist/63.gif" border="0"> </p>
                        <ul class="com_replay_list">
                        </ul>
                        <p class="com_tools"><span class="com_zan"><span class="com_jb" data-commid="3893">举报</span><span class="zan" data-commid="3893"><i class="icon icon_com_zan"></i>（0）</span>|<span class="comment_replay">评论</span></span><span class="com_data">09月01日 14:07</span></p>
                        <div class="comment_post_txt comment_list_replay">
                        <div class="comment_post_t">
                        <textarea name="saytext_3" placeholder="写评论" id="saytext_3" class="input" data-parent="3893"></textarea>
                        <div class="comment_post_btn">
                        <i class="icon icon_face emotion"></i><a href="javascript:void(0)" class="btn btn_comment">评论</a>
                        <input type="text" id="commCode" name="commCode" class="input2" autocomplete="off">
                        <img class="reg-num" src="/news2016/VerifyImageReply" id="VerifyImage_3893" title="看不清？点击换一个" onclick="javascript:document.getElementById('VerifyImage_3893').src='/news2016/VerifyImageReply?r='+Math.random();return false;">
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <script src="/skin/plugs/comment/js/jquery-browser.js"></script>
                        <script src="/skin/plugs/comment/js/jquery.qqFace.js?a=20160831"></script>
                        <script src="/skin/plugs/comment/js/comment.js?a=111"></script>
                        <script>
                                                function BindFace() {
                                                    $('.emotion').each(function (i, el) {
                                                        $(el).qqFace({
                                                            id: 'facebox_' + i,
                                                            assign: 'saytext_' + i,
                                                            path: '/skin/plugs/comment/arclist/' //表情存放的路径
                                                        });
                                                    })
                                                }
                                                BindFace();


                                                $(document).on("click", ".btn_comment", function () {
                                                    var userid = '18520';
                                                    if (userid == "") {
                                                        layer.alert("请登录后再评论。"); return;
                                                    }
                                                    var Currentbtn = $(this);
                                                    var content = Currentbtn.parent(".comment_post_btn").prev(".input");
                                                    var contentVal = $.trim(content.val());
                                                    if (contentVal.length < 1) {
                                                        layer.alert("内容不能为空。");
                                                        return;
                                                    }
                                                    var newid = $("#newid").val();
                                                    var parentid = parseInt(content.data("parent"));
                                                    var comm = parseInt(content.data("comm"));
                                                    var Code = $.trim(Currentbtn.next("input[type='text']").val());
                                                    if (Code.length == 0) {
                                                        layer.alert("请输入验证码。");
                                                        return;
                                                    }
                                                    var Type = "Comment";
                                                    if (parentid > 0) {
                                                        Type = "Reply";
                                                    }
                                                    $.post("/news2016/Validate", { Code: Code, Type: Type }, function (data) {
                                                        if (data.ResultMsg != "Success") {
                                                            layer.alert(data.ResultMsg);
                                                            Currentbtn.next("input[type='text']").val("");
                                                            Currentbtn.next().next("img").trigger("click");
                                                            return;
                                                        } else {
                                                            $.post("/api/ChangYanData", { newsid: newid, Content: contentVal, ParentID: parentid }, function (data) {
                                                                if (data.ErrMsg != undefined) {
                                                                    layer.alert(data.ErrMsg);
                                                                } else {
                                                                    var da = new Date(parseInt(data.entity.PostDate.replace("/Date(", "").replace(")/", "").split("+")[0]));
                                                                    var Months = (da.getMonth() + 1); if (Months < 10) { Months = "0" + Months }
                                                                    var Days = da.getDate(); if (Days < 10) { Days = "0" + Days }
                                                                    var Hours = da.getHours(); if (Hours < 10) { Hours = "0" + Hours }
                                                                    var Minutes = da.getMinutes(); if (Minutes < 10) { Minutes = "0" + Minutes }
                                                                    var PostDate = Months + '月' + Days + "日 " + Hours + ":" + Minutes;
                                                                    if (comm == 0) {
                                                                        var dataStr = "<div class=\"com_li\"><span class=\"author\"><img src=\"" + data.entity.Avatar + "\" onerror=\"nofind(this)\" alt=\"\" /></span>" +
                                                                        "<p class=\"com_title\"><span class=\"com_user\">" + data.entity.NickName + "</span>：" + replace_em(data.entity.Content) + " </p>" +
                                                                        "<ul class=\"com_replay_list\"></ul>" +
                                                                        "<p class=\"com_tools\"><span class=\"com_zan\"><span class=\"com_jb\"  data-commid=\"" + data.entity.CommentID + "\" >举报</span><span class=\"zan\" data-commid=\"" + data.entity.CommentID + "\"><i class=\"icon icon_com_zan\"></i>（" + data.entity.Sp + "）</span>|<span class=\"comment_replay\">评论</span></span><span class=\"com_data\">" + PostDate + "</span></p>" +
                                                                            "<div class=\"comment_post_txt comment_list_replay\"><div class=\"comment_post_t\">" +
                                                                            "<textarea name=\"saytext_3\" placeholder=\"写评论\" id=\"saytext_3\" class=\"input\" data-parent=\"" + data.entity.CommentID + "\"></textarea>" +
                                                                            "<div class=\"comment_post_btn\"><i class=\"icon icon_face emotion\"></i><a href=\"javascript:void(0)\" class=\"btn btn_comment\">评论</a>" +
                                                                            "<input type=\"text\" id=\"commCode\" name=\"commCode\" class=\"input2\" autocomplete=\"off\" />" +
                                                                            "<img class=\"reg-num\" src=\"/news2016/VerifyImageReply\" id=\"VerifyImage_" + data.entity.CommentID + "\" title=\"看不清？点击换一个\" onclick=\"javascript:document.getElementById('VerifyImage_" + data.entity.CommentID + "').src='/news2016/VerifyImageReply?r='+Math.random();return false;\" >" +
                                                                            "</div></div></div></div>";

                                                                        $(".comment_new .com_list").prepend(dataStr);
                                                                        BindFace();
                                                                    } else {
                                                                        var dataStr = "<li><span class=\"com_user\">@" + data.entity.NickName + "</span>: " + replace_em(data.entity.Content) + "<span class=\"replyDate\">" + PostDate + "</span></li>";
                                                                        content.parents(".com_li").eq(0).children(".com_replay_list").append(dataStr);
                                                                    }
                                                                    content.val("");
                                                                    Currentbtn.next("input[type='text']").val("");
                                                                    Currentbtn.next().next("img").trigger("click");

                                                                    $(".commentCount").text("（已有" + data.Count + "条评论）");
                                                                    $(".ComCount").text("评论（" + data.Count + "）");

                                                                }
                                                            });
                                                        }
                                                    });


                                                });
                                                //查看结果
                                                function replace_em(str) {
                                                    str = str.replace(/\</g, '&lt;');
                                                    str = str.replace(/\>/g, '&gt;');
                                                    str = str.replace(/\n/g, '<br/>');
                                                    str = str.replace(/\[em_([0-9]*)\]/g, '<img src="/skin/plugs/comment/arclist/$1.gif" border="0" />');
                                                    return str;
                                                }


                                            </script>
                        </div>
    