extends Shade/layout
block content
    link(rel="stylesheet", href="skin/css/zixun.min.css")
    .page_warp
        .contanier.cf
            //右侧
            .zx_side.l
                .zx_side_box.zx_side_dh
                    ul
                        li
                            a(href="#").cur
                                i.zczj.icon-menu_a.f_red
                                |全部
                        li
                            a(href="")
                                i.zczj.icon-deng.f_green
                                |深度
                        li
                            a(href="")
                                i.zczj.icon-person.f_orange
                                |人物
                        li
                            a(href="")
                                i.zczj.icon-data.f_blue
                                |数据
                        li
                            a(href="")
                                i.zczj.icon-bai.f_purple
                                |百家
                        li
                            a(href="")
                                i.zczj.icon-ceihua.f_yellow
                                |特别策划


                .zx_side_box.zx_side_top10.mt20.cf
                    .zx_s_t TOP10
                    .sort_bar
                        a(href="#").cur 日排行
                        a(href="") 周排行
                    ul
                        li.cf
                            a.sort_t(href="#") 购房需警惕!地产众筹真正目的 购房需警惕!地产众筹真正目的
                            .sort_status.cf
                                span.l 5分钟前
                                span.r 4500
                        li.cf
                            a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                            .sort_status.cf
                                span.l 5分钟前
                                span.r 4500
                        li.cf
                            a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                            .sort_status.cf
                                span.l 5分钟前
                                span.r 4500
                        li.cf
                            a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                            .sort_status.cf
                                span.l 5分钟前
                                span.r 4500
                        li.cf
                            a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                            .sort_status.cf
                                span.l 5分钟前
                                span.r 4500
                    .show_more.t_center
                        a(href="#").zx_btn.btn_blue 查看更多
                //link
                .zx_side_box.zx_side_link.mt20
                    .zx_s_t 友情链接
                    .zx_side_con
                        a(href="#") 红岭创投
                        a(href="#") 网贷中国
                        a(href="#") 众筹社区
                        a(href="#") 云筹
                        a(href="#") 众投邦
                        a(href="#") 火球网

                        a(href="#") P2P网贷
                        a(href="#") P2P网贷平台

                        a(href="#") 高收益理财产品
                        a(href="#") 创投圈

                        a(href="#") 炒股入门知识
                        a(href="#") 信用卡排行榜
                        a(href="#") 安捷财富
                        a(href="#") p2p理财连锁

                        a(href="#") 互联网金融
                        a(href="#") 私募排排网

                        a(href="#") 信用卡申请
                        a(href="#") 借贷网
                        a(href="#") 网贷众筹

                        a(href="#") 广东互联网金融协会

                        a(href="#") 深窗生活频道
                        a(href="#") 财股网财经理财
                        a(href="#") 基金投资
                        a(href="#") 希财众筹超市
                //关于我们
                .zx_side_box.zx_side_aboutUs.mt20
                    .zx_s_t 关于我们
                    .logo_min
                        img(src="skin/img/logo_min.png", alt="")
                    p.log_t.f_blue 行业最有价值第三方平台
                    p.links

                        a(href="#") 关于我们
                            ||
                        a(href="#") 网站公告
                            ||
                        a(href="#") 商务合作
                            ||
                        a(href="#") 隐私声明
                    .weixin
                        img(src="https://www.zczj.com/skin/images/code.jpg", alt="")
                        p 【官方微信号】
                    .link_fs.
                        联系人：之家妹 <br>
                        联系电话：0755-82557958 <br>
                        邮箱：service@zczj.com
                    p.addres.
                        深圳市网筹互联网金融服务有限公司
                        ICP证：粤ICP备14040204号-2

            //左侧
            .zx_main.r
                .zx_main_box.zx_banner.cf
                    .bannerSlider.l
                        .slider-content(style="left:0;")
                            ul.slider-content(style="left:0;")
                                li
                                    a(href="#",title="",rel="nofollow")
                                        img(src="https://pic.36krcnd.com/avatar/201608/31072650/6fy16305w9hk98o5.jpg", alt="",width="610",height="340")
                                        p.silder_txt 被称为股权众筹最成功的项目 如今被爆出严重的数--苏智慧
                                        .mark
                                li
                                    a(href="#",title="",rel="nofollow")
                                        img(src="https://pic.36krcnd.com/avatar/201608/31072650/6fy16305w9hk98o5.jpg", alt="",width="610",height="340")
                                        p.silder_txt 被称为股权众筹最成功的项目 如今被爆出严重的数据造假
                                        .mark
                                li
                                    a(href="#",title="",rel="nofollow")
                                        img(src="https://pic.36krcnd.com/avatar/201608/31072650/6fy16305w9hk98o5.jpg", alt="",width="610",height="340")
                                        p.silder_txt 被称为股权众筹最成功的项目 如今被爆出严重的数据造假
                                        .mark
                        .slider-ctrl
                            .ctrl-dot#btn

                    ul.zc_banner_list.r.cf
                        li
                            a(href="#",style="background-image:url(https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg);")
                                span.banner_list-t 热门专题
                                .mask
                        li.mt10
                            a(href="#",style="background-image:url(https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg);")
                                span.banner_list-t 热门专题
                                .mask

                //全部
                .zx_main_box.zx_news_list.mt20(style="display:block;")
                    //标题
                    .zx_news_tab_box
                        .zx_news_item
                            h1.zx_item_t
                                span.zx_tag.zx_tag_sd 深度
                                a(href="#") 【教程】众筹项目发起人该如何保护知识产权？
                            .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg
                    .zx_news_tab_box
                        .zx_news_item
                            h1.zx_item_t
                                span.zx_tag.zx_tag_data 数据
                                a(href="#") 【教程】众筹项目发起人该如何保护知识产权？
                            .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg

                        <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>
                //深度
                .zx_main_box.zx_news_list.mt20
                    //标题
                    .zx_news_l_t
                        a(href="#").bg_sd
                            i.zczj.icon-menu_b
                            spna 深度
                    .zx_news_tab_box
                        .zx_news_item
                            h1.zx_item_t
                                span.zx_tag.zx_tag_sd 深度
                                a(href="#") 【教程】众筹项目发起人该如何保护知识产权？
                            .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg


                        <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>
                //人物
                .zx_main_box.zx_news_list.mt20
                    //标题
                    .zx_news_l_t
                        a(href="#").bg_ps
                            i.zczj.icon-menu_b
                            spna 人物
                    .zx_news_tab_box
                        .zx_news_item
                            h1.zx_item_t
                                span.zx_tag.zx_tag_ps 人物
                                a(href="#") 【教程】众筹项目发起人该如何保护知识产权？
                            .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg


                        <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>
                //数据
                .zx_main_box.zx_news_list.mt20
                    //标题
                    .zx_news_l_t
                        a(href="#").bg_data
                            i.zczj.icon-menu_b
                            spna 数据
                    .zx_news_tab_box
                        .zx_news_item
                            h1.zx_item_t
                                span.zx_tag.zx_tag_data 数据
                                a(href="#") 【教程】众筹项目发起人该如何保护知识产权？
                            .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg


                        <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>
                //百家
                .zx_main_box.zx_news_list.mt20
                    //标题
                    .zx_news_l_t
                        a(href="#")
                            i.zczj.icon-menu_b
                            spna 百家
                    .zx_news_tab.mt10
                        a(href="#").zx_btn.cur 百家文章
                        a(href="#").zx_btn 百家作者
                    .zx_news_tab_box.zx_news_tab_sub(style="display:block;")
                        .zx_news_item
                            h1.zx_item_t
                                span.zx_tag.zx_tag_bj 百家
                                a(href="#") 【教程】众筹项目发起人该如何保护知识产权？
                            .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg
                         <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>
                    .zx_news_tab_box.zx_news_tab_sub
                        .zx_news_item.zx_articl
                            h1.zx_item_t
                                span.zx_tag.zx_tag_bj 百家
                                a(href="#") 孙伟明
                                a(href="#").f_blue 更多
                            .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")


                                .r
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    ul.item_links
                                        li
                                            a(href="#").
                                                利用"对赌协议"设计众筹的退出机制
                                        li
                                            a(href="#").
                                                新《食品安全法》下，餐饮行业股权众筹者应知的法律风险

                        <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>
                //特别策划
                .zx_main_box.zx_news_list.mt20
                    //标题
                    .zx_news_l_t
                        a(href="#").bg_tbch
                            i.zczj.icon-menu_b
                            spna 特别策划
                    .zx_news_tab_box
                        .items_con.cf
                            dl.item_tbch.ml0
                                dt
                                    a(href="#",style="background-image:url(https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg)")
                                        .tag 热门专题
                                        .mask
                                dd.title
                                    a(href="#") 这纸文件将卡死绝大部分平台！
                                dd.con.
                                    网络借贷信息中介机构业务活动管理暂行办法出台后，将卡死绝大部分平台 。
                            dl.item_tbch
                                dt
                                    a(href="#",style="background-image:url(https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg)")
                                        .tag 热门专题
                                        .mask
                                dd.title
                                    a(href="#") 这纸文件将卡死绝大部分平台！
                                dd.con.
                                    网络借贷信息中介机构业务活动管理暂行办法出台后，将卡死绝大部分平台 。
                            dl.item_tbch
                                dt
                                    a(href="#",style="background-image:url(https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg)")
                                        .tag 热门专题
                                        .mask
                                dd.title
                                    a(href="#") 这纸文件将卡死绝大部分平台！
                                dd.con.
                                    网络借贷信息中介机构业务活动管理暂行办法出台后，将卡死绝大部分平台 。
                            dl.item_tbch.ml0
                                dt
                                    a(href="#",style="background-image:url(https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg)")
                                        .tag 热门专题
                                        .mask
                                dd.title
                                    a(href="#") 这纸文件将卡死绝大部分平台！
                                dd.con.
                                    网络借贷信息中介机构业务活动管理暂行办法出台后，将卡死绝大部分平台 。
                            dl.item_tbch
                                dt
                                    a(href="#",style="background-image:url(https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg)")
                                        .tag 热门专题
                                        .mask
                                dd.title
                                    a(href="#") 这纸文件将卡死绝大部分平台！
                                dd.con.
                                    网络借贷信息中介机构业务活动管理暂行办法出台后，将卡死绝大部分平台 。
                            dl.item_tbch
                                dt
                                    a(href="#",style="background-image:url(https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg)")
                                        .tag 热门专题
                                        .mask
                                dd.title
                                    a(href="#") 这纸文件将卡死绝大部分平台！
                                dd.con.
                                    网络借贷信息中介机构业务活动管理暂行办法出台后，将卡死绝大部分平台 。
                        <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>



    script(src="skin/plugs/slide/slide.js")
    script.
        var sl = new Sld();
            sl.init('bannerSlider', { resize: false });
        $('.zx_side_dh a').each(function(i, el) {
            $(el).click(function () {
                $('.zx_side_dh a').removeClass('cur');
                $(el).addClass('cur');
                $('.zx_news_list').eq(i).show().siblings('.zx_news_list').hide();
                return false;
            })
        });
        $('.zx_news_tab a').each(function(i,el){
            $(el).click(function(){
                $(el).addClass('cur').siblings().removeClass('cur');
                $('.zx_news_tab_sub').eq(i).show().siblings('.zx_news_tab_sub').hide();
                return false;
            })
        })
