sextends Shade/layout
block content
    link(rel="stylesheet", href="skin/css/plat.min.css")
    .bg_gray
        .page_warp.plat_nav.cf.mb40.mt30
            //平台导航tab切换
            .plat_tab
                .btn_tab.btn_tab_plat
                    a(href="#").cur 平台筛选
                    .plat_select
                        input(type="text",placeholder="输入平台关键字").txt
                        input(type="button").btn
                        i.zczj.icon-fdj
                .box_tab.box_tab_plat(style="display:block;")
                    ul
                        li
                            span.plat_s 平台类型：
                            a(href="#").cur 全部
                            a(href="#") 股权众筹
                            a(href="#") 权益众筹
                            a(href="#") 综合众筹
                        li
                            span.plat_s 专注领域：
                            a(href="#").cur 全部
                            a(href="#") 互联网
                            a(href="#") 影视
                            a(href="#") 游戏
                            a(href="#") 店铺
                            a(href="#") 医疗保健
                            a(href="#") 房地产
                            a(href="#") 旅游
                            a(href="#") 其他
                        li
                            span.plat_s 所属地区：
                            a(href="#").cur 全部
                            a(href="#") 北京
                            a(href="#") 上海
                            a(href="#") 广州
                            a(href="#") 深圳
                            a(href="#") 其他
                        li
                            span.plat_s 融资时间：
                            a(href="#").cur 全部
                            a(href="#") 2012
                            a(href="#") 2013
                            a(href="#") 2014
                            a(href="#") 2015
            .plat_items.plat_list_main.cf
                .plat_tips.
                    风险提示：众筹有风险，投资需谨慎，导航栏只提供信息参考，众筹之家不做任何推荐，请认真阅读。

                dl.ml0
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.cf(style="left:80%")
                                    i.icon
                                    span 80%
                                .progress_s(style="width:80%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:90%")
                                    i.icon
                                    span 90%
                                .progress_s(style="width:90%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:100%")
                                    i.icon
                                    span 100%
                                .progress_s(style="width:100%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:100%")
                                    i.icon
                                    span 100%
                                .progress_s(style="width:100%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl.ml0
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.cf(style="left:80%")
                                    i.icon
                                    span 80%
                                .progress_s(style="width:80%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:90%")
                                    i.icon
                                    span 90%
                                .progress_s(style="width:90%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:100%")
                                    i.icon
                                    span 100%
                                .progress_s(style="width:100%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:100%")
                                    i.icon
                                    span 100%
                                .progress_s(style="width:100%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl.ml0
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.cf(style="left:80%")
                                    i.icon
                                    span 80%
                                .progress_s(style="width:80%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:90%")
                                    i.icon
                                    span 90%
                                .progress_s(style="width:90%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:100%")
                                    i.icon
                                    span 100%
                                .progress_s(style="width:100%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:100%")
                                    i.icon
                                    span 100%
                                .progress_s(style="width:100%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl.ml0
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.cf(style="left:80%")
                                    i.icon
                                    span 80%
                                .progress_s(style="width:80%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:90%")
                                    i.icon
                                    span 90%
                                .progress_s(style="width:90%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:100%")
                                    i.icon
                                    span 100%
                                .progress_s(style="width:100%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
                dl
                    dt
                        span.plat_tag 融资中
                        a(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", height="150", width="250")
                    dd.plat_list_title
                        a(href="#") 小木人实木定制
                    dd.plat_list_txt.
                        我们是专注全屋实木家具定制的互联网电
                        商平台。
                    dd.plat_list_progress
                        ul.cf
                            li
                                span.f_blue 57%
                                span 已达
                            li
                                span.f_blue ￥894.00万元
                                span 已达
                            li
                                span.f_blue 天使客
                                span 平台
                        .plat_progress
                            .progress
                                span.progress_num.progess_num_big.cf(style="left:100%")
                                    i.icon
                                    span 100%
                                .progress_s(style="width:100%")
                        .btns.cf
                            a.zx_btn.l(href="#") 对比
                            a.zx_btn.r(href="#") 关注
            //翻页
            <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>



    script.
        $(function(){
            ;(function () {
                $('.plat_select .btn').click(function () {
                    if(laosu.tools.changeEmpty($('.plat_select .txt').val().trim())){
                        dialog.error('输入不能为空！');
                    }
                })
            })('搜索点击事件');
        })
    include Shade/footer