extends Shade/layout
block content
    link(rel="stylesheet", href="skin/css/zixun.min.css")
    link(rel="stylesheet", href="skin/plugs/comment/css/comment.css")
    link(rel="stylesheet", href="skin/plugs/lightgallery/dist/css/lightgallery.css")
    style.
        .lg-backdrop.in {
            opacity: 1;
        }
    .bg_white
        .page_warp.index_container(style="margin-bottom:30px; margin-top:40px; overflow:hidden;")


            //左侧
            .zx_main.zx_main_754.l
                .index_banner_top.cf
                    .bannerSlider.bannerSlider_1.bannerSlider_main
                        .slider-content(style="left:0;")
                            ul.slider-content(style="left:0;")
                                li
                                    a(href="#",title="",rel="nofollow")
                                        img(src="https://pic.36krcnd.com/avatar/201608/31072650/6fy16305w9hk98o5.jpg", alt="",width="754",height="360")
                                        //-
                                            p.silder_txt 被称为股权众筹最成功的项目 如今被爆出严重的数--苏智慧
                                            .mark
                                li
                                    a(href="#",title="",rel="nofollow")
                                        img(src="https://pic.36krcnd.com/avatar/201608/31072650/6fy16305w9hk98o5.jpg", alt="",width="754",height="360")
                                        //-
                                            p.silder_txt 被称为股权众筹最成功的项目 如今被爆出严重的数据造假
                                            .mark
                                li
                                    a(href="#",title="",rel="nofollow")
                                        img(src="https://pic.36krcnd.com/avatar/201608/31072650/6fy16305w9hk98o5.jpg", alt="",width="754",height="360")
                                        //-
                                            p.silder_txt 被称为股权众筹最成功的项目 如今被爆出严重的数据造假
                                            .mark
                        .slider-ctrl
                            .ctrl-dot#btn
                //-资讯tab切换
                .new_box_t.btn_tab.mt20.cf
                    a(href="javascript:;") 独家原创
                    a.cur(href="javascript:;") 图文直播
                .box_tab.zx_items
                    .zx_news_item
                        .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        span.tag 众筹
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    a(href="#").title 神烦警探
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg
                    .zx_news_item
                        .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        span.tag 众筹
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    a(href="#").title 神烦警探
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg
                    .zx_news_item
                        .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        span.tag 众筹
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    a(href="#").title 神烦警探
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg
                     .zx_news_item
                        .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        span.tag 众筹
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    a(href="#").title 神烦警探
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg
                     .zx_news_item
                        .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        span.tag 众筹
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    a(href="#").title 神烦警探
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg
                     .zx_news_item
                        .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        span.tag 众筹
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    a(href="#").title 神烦警探
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg
                     .zx_news_item
                        .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        span.tag 众筹
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    a(href="#").title 神烦警探
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg
                     .zx_news_item
                        .zx_itme_con.cf
                                .l
                                    a(href="#")
                                        span.tag 众筹
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")

                                .r
                                    a(href="#").title 神烦警探
                                    .txt.
                                        作为互联网金融时代重要的融资方式之一，众筹在我国备受关注。众筹融资为创业者和投资者都提供了便利，但也存在一定的风险。其中，知识产权风险尤其需要防范。众筹项目多是创意类、个性化项目，是创意者的智慧结晶。
                                    .item_bar.cf
                                        .l.cf
                                            span.f_blue 众筹大文豪
                                            span 3个小时前
                                        .r
                                            span.no_cirl
                                                i.zczj.icon-zan
                                                |(30)
                                            span
                                                i.zczj.icon-msg
                .box_tab.live_telecast(style="display:block;")
                    .live_item
                        span.live_time 15分钟前
                        .live_line
                        .live_text.
                            第三季度近4成股权众筹平台“颗粒无收” 下个季度会有多少平台退潮？今年年中以来，股权众筹进入“沉寂期”，部分股权众筹平台的业务正在缩减，甚至部分已暂停。
                        #lightgallery0.lightgallery.cf(data-id="0")
                            a(href="skin/img/spec/spec2.jpg",style="background-image:url(skin/img/spec/spec2.jpg")
                                img.img-responsive(src="skin/img/spec/spec2.jpg", alt="")
                            a(href="skin/img/spec/spec3.jpg",style="background-image:url(skin/img/spec/spec3.jpg")
                                img.img-responsive(src="skin/img/spec/spec3.jpg", alt="")
                            a(href="skin/img/spec/spec2.jpg",style="background-image:url(skin/img/spec/spec2.jpg")
                                img.img-responsive(src="skin/img/spec/spec2.jpg", alt="")
                            a(href="skin/img/spec/spec5.jpg",style="background-image:url(skin/img/spec/spec5.jpg")
                                img.img-responsive(src="skin/img/spec/spec5.jpg", alt="")
                        .live_comment
                            span.num
                                i.zczj.icon-msg
                                span (10)
                            span.num
                                i.zczj.icon-zan
                                span (30)
                        .commentzczj
                            .comment_head.
                                网友评论
                                <span>（已有5条评论）</span>
                            .comment_post_txt
                                .comment_post_t
                                    //- i.icon.icon_bi
                                    textarea(name="saytext_0",placeholder="写评论")#saytext_0.input
                                    .comment_post_btn
                                        i.icon.icon_face.emotion
                                        a(href="#").btn.btn_comment 评论
                            .comment_list.comment_hot
                                .comment_list_t 以下为精彩评论
                                .com_li
                                    span.author
                                        img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                    p.com_title.
                                        <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                    ul.com_replay_list
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！

                                    p.com_tools

                                        span.com_zan
                                            span.com_jb 举报
                                            span
                                                i.icon.icon_com_zan
                                                |（30）
                                            ||
                                            span.comment_replay 评论

                                        span.com_data 8月24日 10:09
                                    .comment_post_txt.comment_list_replay
                                        .comment_post_t
                                            //- i.icon.icon_bi
                                            textarea(name="saytext_1",placeholder="写评论")#saytext_1.input
                                            .comment_post_btn
                                                i.icon.icon_face.emotion
                                                a(href="#").btn.btn_comment 评论
                                .com_li
                                    span.author
                                        img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                    p.com_title.
                                        <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                    ul.com_replay_list
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！

                                    p.com_tools

                                        span.com_zan
                                            span.com_jb 举报
                                            span
                                                i.icon.icon_com_zan
                                                |（30）
                                            ||
                                            span.comment_replay 评论

                                        span.com_data 8月24日 10:09
                                    .comment_post_txt.comment_list_replay
                                        .comment_post_t
                                            //- i.icon.icon_bi
                                            textarea(name="saytext_2",placeholder="写评论")#saytext_2.input
                                            .comment_post_btn
                                                i.icon.icon_face.emotion
                                                a(href="#").btn.btn_comment 评论
                            .comment_list.comment_new
                                .comment_list_t 以下为最新评论
                                .com_li
                                    span.author
                                        img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                    p.com_title.
                                        <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                    ul.com_replay_list
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！

                                    p.com_tools

                                        span.com_zan
                                            span.com_jb 举报
                                            span
                                                i.icon.icon_com_zan
                                                |（30）
                                            ||
                                            span.comment_replay 评论

                                        span.com_data 8月24日 10:09
                                    .comment_post_txt.comment_list_replay
                                        .comment_post_t
                                            //- i.icon.icon_bi
                                            textarea(name="saytext_3",placeholder="写评论")#saytext_3.input
                                            .comment_post_btn
                                                i.icon.icon_face.emotion
                                                a(href="#").btn.btn_comment 评论
                                .com_li
                                    span.author
                                        img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                    p.com_title.
                                        <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                    ul.com_replay_list
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！

                                    p.com_tools

                                        span.com_zan
                                            span.com_jb 举报
                                            span
                                                i.icon.icon_com_zan
                                                |（30）
                                            ||
                                            span.comment_replay 评论

                                        span.com_data 8月24日 10:09
                                    .comment_post_txt.comment_list_replay
                                        .comment_post_t
                                            //- i.icon.icon_bi
                                            textarea(name="saytext_4",placeholder="写评论")#saytext_4.input
                                            .comment_post_btn
                                                i.icon.icon_face.emotion
                                                a(href="#").btn.btn_comment 评论
                        .live_bt
                    .live_item
                        span.live_time 30分钟前
                        .live_line
                        .live_text.
                            第三季度近4成股权众筹平台“颗粒无收” 下个季度会有多少平台退潮？今年年中以来，股权众筹进入“沉寂期”，部分股权众筹平台的业务正在缩减，甚至部分已暂停。
                        #lightgallery1.lightgallery.cf(data-id="1")
                            a(href="skin/img/spec/spec2.jpg",style="background-image:url(skin/img/spec/spec2.jpg")
                                img.img-responsive(src="skin/img/spec/spec2.jpg", alt="")
                            a(href="skin/img/spec/spec3.jpg",style="background-image:url(skin/img/spec/spec5.jpg")
                                img.img-responsive(src="skin/img/spec/spec3.jpg", alt="")
                            a(href="skin/img/spec/spec5.jpg",style="background-image:url(skin/img/spec/spec5.jpg")
                                img.img-responsive(src="skin/img/spec/spec5.jpg", alt="")
                        .live_comment
                            span.num
                                i.zczj.icon-msg
                                span (10)
                            span.num
                                i.zczj.icon-zan
                                span (30)
                        .commentzczj
                            .comment_head.
                                网友评论
                                <span>（已有5条评论）</span>
                            .comment_post_txt
                                .comment_post_t
                                    //- i.icon.icon_bi
                                    textarea(name="saytext_0",placeholder="写评论")#saytext_0.input
                                    .comment_post_btn
                                        i.icon.icon_face.emotion
                                        a(href="#").btn.btn_comment 评论
                            .comment_list.comment_hot
                                .comment_list_t 以下为精彩评论
                                .com_li
                                    span.author
                                        img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                    p.com_title.
                                        <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                    ul.com_replay_list
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！

                                    p.com_tools

                                        span.com_zan
                                            span.com_jb 举报
                                            span
                                                i.icon.icon_com_zan
                                                |（30）
                                            ||
                                            span.comment_replay 评论

                                        span.com_data 8月24日 10:09
                                    .comment_post_txt.comment_list_replay
                                        .comment_post_t
                                            //- i.icon.icon_bi
                                            textarea(name="saytext_1",placeholder="写评论")#saytext_1.input
                                            .comment_post_btn
                                                i.icon.icon_face.emotion
                                                a(href="#").btn.btn_comment 评论
                                .com_li
                                    span.author
                                        img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                    p.com_title.
                                        <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                    ul.com_replay_list
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！

                                    p.com_tools

                                        span.com_zan
                                            span.com_jb 举报
                                            span
                                                i.icon.icon_com_zan
                                                |（30）
                                            ||
                                            span.comment_replay 评论

                                        span.com_data 8月24日 10:09
                                    .comment_post_txt.comment_list_replay
                                        .comment_post_t
                                            //- i.icon.icon_bi
                                            textarea(name="saytext_2",placeholder="写评论")#saytext_2.input
                                            .comment_post_btn
                                                i.icon.icon_face.emotion
                                                a(href="#").btn.btn_comment 评论
                            .comment_list.comment_new
                                .comment_list_t 以下为最新评论
                                .com_li
                                    span.author
                                        img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                    p.com_title.
                                        <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                    ul.com_replay_list
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！

                                    p.com_tools

                                        span.com_zan
                                            span.com_jb 举报
                                            span
                                                i.icon.icon_com_zan
                                                |（30）
                                            ||
                                            span.comment_replay 评论

                                        span.com_data 8月24日 10:09
                                    .comment_post_txt.comment_list_replay
                                        .comment_post_t
                                            //- i.icon.icon_bi
                                            textarea(name="saytext_3",placeholder="写评论")#saytext_3.input
                                            .comment_post_btn
                                                i.icon.icon_face.emotion
                                                a(href="#").btn.btn_comment 评论
                                .com_li
                                    span.author
                                        img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                    p.com_title.
                                        <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                    ul.com_replay_list
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！
                                        li.
                                            <span class="com_user">@SatisfyMe</span>
                                            文章观点深刻，我深表认同！

                                    p.com_tools

                                        span.com_zan
                                            span.com_jb 举报
                                            span
                                                i.icon.icon_com_zan
                                                |（30）
                                            ||
                                            span.comment_replay 评论

                                        span.com_data 8月24日 10:09
                                    .comment_post_txt.comment_list_replay
                                        .comment_post_t
                                            //- i.icon.icon_bi
                                            textarea(name="saytext_4",placeholder="写评论")#saytext_4.input
                                            .comment_post_btn
                                                i.icon.icon_face.emotion
                                                a(href="#").btn.btn_comment 评论


             //右侧
             //右侧
            .zx_side.zx_side_294.r
                .zx_side_box.zx_side_promotion
                    dl
                        dt 活动时间
                        dd.t_center 2015年11月7日星期六
                    dl
                        dt 活动地点
                        dd.
                            深圳市南山区科苑路科学科兴园B4栋一楼
                            会议室
                    dl
                        dt 活动主题
                        dd 往何处去？十字路口的互联网股权投资


                //嘉宾介绍
                .zx_side_box.zx_side_mjtj.zx_side_jbtj.mt20
                    .zx_s_t 嘉宾介绍
                    ul
                        li.cf
                            img.l(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160716/20160716105125.jpg", alt="")
                            p.user_name 宋欢平
                            p.text.
                                创投新兵，华侨跃梦天使基金的合伙人
                        li.cf
                            img.l(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160716/20160716105125.jpg", alt="")
                            p.user_name 宋欢平
                            p.text.
                                创投新兵，华侨跃梦天使基金的合伙人
                        li.cf
                            img.l(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160716/20160716105125.jpg", alt="")
                            p.user_name 宋欢平
                            p.text.
                                创投新兵，华侨跃梦天使基金的合伙人
                        li.cf
                            img.l(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160716/20160716105125.jpg", alt="")
                            p.user_name 宋欢平
                            p.text.
                                创投新兵，华侨跃梦天使基金的合伙人
                        li.cf
                            img.l(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160716/20160716105125.jpg", alt="")
                            p.user_name 宋欢平
                            p.text.
                                创投新兵，华侨跃梦天使基金的合伙人
                        li.cf
                            img.l(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160716/20160716105125.jpg", alt="")
                            p.user_name 宋欢平
                            p.text.
                                创投新兵，华侨跃梦天使基金的合伙人
                .zx_side_box.teach_side_video
                    .zx_s_t 活动视频
                    .con
                        .video_play_box(style="margin-bottom:10px;")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")
                            .mask_layer
                            //- span.video_tag 直播
                            a.zx_btn.play_btn(href="#")
                            //- a(href="#").video_histroy 往期回顾
                        p.video_play_t.t_center 众筹之家两周年庆典专题活动
                        p.t_center.mt10
                            a(href="#").zx_btn.btn_blue 查看更多
                .zx_side_box.side_banner
                    .zx_s_t.mt20 活动照片
                    .bannerSlider.bannerSlider_2(style="height:180px;")
                        .slider-content(style="left:0;")
                            ul.slider-content(style="left:0;",data-id="_photo")#lightgallery_photo
                                li
                                    a(href="#",title="",rel="nofollow")
                                        img(src="https://pic.36krcnd.com/avatar/201608/31072650/6fy16305w9hk98o5.jpg", alt="",width="294",height="180")
                                        //- span.banner_tag 活动
                                        //-
                                        p.silder_txt 知名天使投资人乔之东发表讲话
                                        .mark
                                li
                                    a(href="#",title="",rel="nofollow")
                                        img(src="https://pic.36krcnd.com/avatar/201608/31072650/6fy16305w9hk98o5.jpg", alt="",width="294",height="180")
                                        //- span.banner_tag 专题
                                        //-
                                        p.silder_txt 被称为股权众筹最成功的项目 如今被爆出严重的数据造假
                                        .mark
                                li
                                    a(href="#",title="",rel="nofollow")
                                        img(src="https://pic.36krcnd.com/avatar/201608/31072650/6fy16305w9hk98o5.jpg", alt="",width="294",height="180")
                                        //- span.banner_tag 活动
                                        //-
                                        p.silder_txt 被称为股权众筹最成功的项目 如今被爆出严重的数据造假
                                        .mark
                        .slider-ctrl
                            .ctrl-dot
                .zx_side_box.zx_side_top10.mt20.cf
                    .zx_s_t 相关资讯

                    ul.xgzx
                        li.cf
                            a.sort_t(href="#") 购房需警惕!地产众筹真正目的 购房需警惕!地产众筹真正目的
                            .sort_status.cf
                                span.l 5分钟前
                                span.r 4500
                        li.cf
                            a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                            .sort_status.cf
                                span.l 5分钟前
                                span.r 4500
                        li.cf
                            a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                            .sort_status.cf
                                span.l 5分钟前
                                span.r 4500
                        li.cf
                            a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                            .sort_status.cf
                                span.l 5分钟前
                                span.r 4500
                        li.cf
                            a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                            .sort_status.cf
                                span.l 5分钟前
                                span.r 4500
                    .show_more.t_center
                        a(href="#").zx_btn.btn_blue 查看更多












    include Shade/footer

    script(src="skin/plugs/slide/slide.js")
    script.

        var sl = new Sld();
            sl.init('bannerSlider_1', { resize: false });
        var sl2 = new Sld();
            sl2.init('bannerSlider_2', { resize: false });
    script(src="skin/plugs/comment/js/jquery.qqFace.js")
    script(src="skin/plugs/comment/js/jquery-browser.js")
    script(src="skin/plugs/comment/js/comment.js")

    script(src="skin/plugs/lightgallery/dist/js/lightgallery.min.js")
    //- script(src="skin/plugs/lightgallery/demo/js/js/lightgallery.js")
    script(src="skin/plugs/lightgallery/demo/js/lg-thumbnail.js")
    //-script(src="skin/plugs/lightgallery/lib/lightgallery-all.min.js")
    script.
        $(document).ready(function() {
            $('.lightgallery').each(function(i,el){
                var id= $(el).data('id');
                lightgallery(id);
            })
        });
        function lightgallery(id){
            $("#lightgallery" + id).lightGallery({
                'width': 80+'%'
            });
        }
        $(function(){


            $('.live_comment .icon-msg ').each(function(i,el){
                $(el).click(function(){
                   $('.commentzczj').eq(i).toggle()
                })

            })

            //- $('.commentzczj .emotion').each(function(i,el){
            //-     console.log(i)
            //-     return;
            //-     $(el).qqFace({
            //-         id : 'facebox_'+i,
            //-         assign:'saytext_'+i,
            //-         path:'skin/plugs/comment/arclist/' //表情存放的路径
            //-     })
            //- })
            //- $('.emotion').qqFace({
            //-     id : 'facebox',
            //-     assign:'saytext',
            //-     path:'skin/js/comment/arclist/' //表情存放的路径
            //- });
            $(".btn_comment").click(function(){
                //- var str = $("#saytext").val();
                //- $("#show").html(replace_em(str));
            });
            //查看结果
            function replace_em(str){
                str = str.replace(/\</g,'&lt;');
                str = str.replace(/\>/g,'&gt;');
                str = str.replace(/\n/g,'<br/>');
                str = str.replace(/\[em_([0-9]*)\]/g,'<img src="skin/plugs/comment/arclist/$1.gif" border="0" />');
                return str;
            }
        })