extends Shade/layout
block content
    link(rel="stylesheet", href="skin/css/teach.min.css")
    link(rel="stylesheet", href="skin/plugs/comment/css/comment.css")
    .bg_white
        .video_info
            .zj-container
                dl.cf
                    dt.l
                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", width="428", height='268')
                    dd.r
                        h1 完整的投资体系

                        p.
                            <span class='f_blue'> 简介</span><br>
                            图表的学习是PPT学习的一个重要方面，然而图表也分为很多种，做法更是五花八门。很多学习者找不到门道，学理论，学概念，学基础，学技巧，学方法等等，但是为什么学了这些还是做不出好图表？

                        p.
                            因为你没有学习实例图表，一个实例图表的学习过程可以囊括基础知识，技巧及理论，通过实际案例的学习，实时操练，然后加入自己的创意，这才是掌握知识的“捷径”！

        .page_warp.cf.mb40
            //左侧
            .teach_main.l
                //目录列表
                .teach_main_box.menu_list
                    .menu_list_t.f_blue
                        |目录
                    .menu_list_con
                        dl
                            dt
                                span.data.r 2016-09-06
                                a(href="#").title.l.
                                    【初级】互联网众筹的项目融资和风控流程
                            dd.
                                众筹在现在是越来越热门的一个词。众筹项目从之前的单个商品到现在的消费众筹和股权众筹，也有了专门的众筹平台。那么众筹项目融资和风控流程都有那些呢?
                        dl
                            dt
                                span.data.r 2016-09-06
                                a(href="#").title.l.
                                    【初级】互联网众筹的项目融资和风控流程
                            dd.
                                众筹在现在是越来越热门的一个词。众筹项目从之前的单个商品到现在的消费众筹和股权众筹，也有了专门的众筹平台。那么众筹项目融资和风控流程都有那些呢?
                        dl
                            dt
                                span.data.r 2016-09-06
                                a(href="#").title.l.
                                    【初级】互联网众筹的项目融资和风控流程
                            dd.
                                众筹在现在是越来越热门的一个词。众筹项目从之前的单个商品到现在的消费众筹和股权众筹，也有了专门的众筹平台。那么众筹项目融资和风控流程都有那些呢?
                        dl
                            dt
                                span.data.r 2016-09-06
                                a(href="#").title.l.
                                    【初级】互联网众筹的项目融资和风控流程
                            dd.
                                众筹在现在是越来越热门的一个词。众筹项目从之前的单个商品到现在的消费众筹和股权众筹，也有了专门的众筹平台。那么众筹项目融资和风控流程都有那些呢?
                        dl
                            dt
                                span.data.r 2016-09-06
                                a(href="#").title.l.
                                    【初级】互联网众筹的项目融资和风控流程
                            dd.
                                众筹在现在是越来越热门的一个词。众筹项目从之前的单个商品到现在的消费众筹和股权众筹，也有了专门的众筹平台。那么众筹项目融资和风控流程都有那些呢?
                        dl
                            dt
                                span.data.r 2016-09-06
                                a(href="#").title.l.
                                    【初级】互联网众筹的项目融资和风控流程
                            dd.
                                众筹在现在是越来越热门的一个词。众筹项目从之前的单个商品到现在的消费众筹和股权众筹，也有了专门的众筹平台。那么众筹项目融资和风控流程都有那些呢?
                .teach_main_box.teach_comment
                    #comment
                        .comment_head.
                            网友评论
                            <span>（已有5条评论）</span>
                        .comment_post_txt
                            .comment_post_t
                                //- i.icon.icon_bi
                                textarea(name="saytext_0",placeholder="写评论")#saytext_0.input
                                .comment_post_btn
                                    i.icon.icon_face.emotion
                                    a(href="#").btn.btn_comment 评论
                        .comment_list.comment_hot
                            .comment_list_t 以下为精彩评论
                            .com_li
                                span.author
                                    img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                p.com_title.
                                    <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                ul.com_replay_list
                                    li.
                                        <span class="com_user">@SatisfyMe</span>
                                        文章观点深刻，我深表认同！
                                    li.
                                        <span class="com_user">@SatisfyMe</span>
                                        文章观点深刻，我深表认同！

                                p.com_tools

                                    span.com_zan
                                        span.com_jb 举报
                                        span
                                            i.icon.icon_com_zan
                                            |（30）
                                        ||
                                        span.comment_replay 评论

                                    span.com_data 8月24日 10:09
                                .comment_post_txt.comment_list_replay
                                    .comment_post_t
                                        //- i.icon.icon_bi
                                        textarea(name="saytext_1",placeholder="写评论")#saytext_1.input
                                        .comment_post_btn
                                            i.icon.icon_face.emotion
                                            a(href="#").btn.btn_comment 评论
                            .com_li
                                span.author
                                    img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                p.com_title.
                                    <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                ul.com_replay_list
                                    li.
                                        <span class="com_user">@SatisfyMe</span>
                                        文章观点深刻，我深表认同！
                                    li.
                                        <span class="com_user">@SatisfyMe</span>
                                        文章观点深刻，我深表认同！

                                p.com_tools

                                    span.com_zan
                                        span.com_jb 举报
                                        span
                                            i.icon.icon_com_zan
                                            |（30）
                                        ||
                                        span.comment_replay 评论

                                    span.com_data 8月24日 10:09
                                .comment_post_txt.comment_list_replay
                                    .comment_post_t
                                        //- i.icon.icon_bi
                                        textarea(name="saytext_2",placeholder="写评论")#saytext_2.input
                                        .comment_post_btn
                                            i.icon.icon_face.emotion
                                            a(href="#").btn.btn_comment 评论
                        .comment_list.comment_new
                            .comment_list_t 以下为最新评论
                            .com_li
                                span.author
                                    img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                p.com_title.
                                    <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                ul.com_replay_list
                                    li.
                                        <span class="com_user">@SatisfyMe</span>
                                        文章观点深刻，我深表认同！
                                    li.
                                        <span class="com_user">@SatisfyMe</span>
                                        文章观点深刻，我深表认同！

                                p.com_tools

                                    span.com_zan
                                        span.com_jb 举报
                                        span
                                            i.icon.icon_com_zan
                                            |（30）
                                        ||
                                        span.comment_replay 评论

                                    span.com_data 8月24日 10:09
                                .comment_post_txt.comment_list_replay
                                    .comment_post_t
                                        //- i.icon.icon_bi
                                        textarea(name="saytext_3",placeholder="写评论")#saytext_3.input
                                        .comment_post_btn
                                            i.icon.icon_face.emotion
                                            a(href="#").btn.btn_comment 评论
                            .com_li
                                span.author
                                    img(src="http://img.zczj.com//avatar/20160624/2016062410090932845669.jpg", alt="")
                                p.com_title.
                                    <span class="com_user">SatisfyMe</span>：文章观点深刻，我深表认同！
                                ul.com_replay_list
                                    li.
                                        <span class="com_user">@SatisfyMe</span>
                                        文章观点深刻，我深表认同！
                                    li.
                                        <span class="com_user">@SatisfyMe</span>
                                        文章观点深刻，我深表认同！

                                p.com_tools

                                    span.com_zan
                                        span.com_jb 举报
                                        span
                                            i.icon.icon_com_zan
                                            |（30）
                                        ||
                                        span.comment_replay 评论

                                    span.com_data 8月24日 10:09
                                .comment_post_txt.comment_list_replay
                                    .comment_post_t
                                        //- i.icon.icon_bi
                                        textarea(name="saytext_4",placeholder="写评论")#saytext_4.input
                                        .comment_post_btn
                                            i.icon.icon_face.emotion
                                            a(href="#").btn.btn_comment 评论
            //右侧 294
            .teach_side.mt30.r
                //你可能感兴趣的课
                .teach_side_box.teach_free_class
                    .teach_side_t 你可能感兴趣的课
                    ul.con
                        li
                            a(href="#")
                                img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", width="188", height="116")
                            a.text(href="#") 完整的投资体系
                        li
                            a(href="#")
                                img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", width="188", height="116")
                            a.text(href="#") 完整的投资体系
                .teach_side_box.teach_side_video.mt30
                    .teach_side_t
                        a(href="#").cur 众筹大课堂第一集
                        | |
                        a(href="#") 更多精彩视屏
                    .con
                        .video_play_box(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")
                            .mask_layer
                            span.video_tag 直播
                            a.zx_btn.play_btn(href="#")
                            a(href="#").video_histroy 往期回顾
    script(src="skin/plugs/comment/js/jquery.qqFace.js")
    script(src="skin/plugs/comment/js/jquery-browser.js")
    script(src="skin/plugs/comment/js/comment.js")
    script.
        $(function(){
            $('.emotion').each(function(i,el){
                $(el).qqFace({
                    id : 'facebox_'+i,
                    assign:'saytext_'+i,
                    path:'skin/plugs/comment/arclist/' //表情存放的路径
                })
            })
            //- $('.emotion').qqFace({
            //-     id : 'facebox',
            //-     assign:'saytext',
            //-     path:'skin/js/comment/arclist/' //表情存放的路径
            //- });
            $(".btn_comment").click(function(){
                //- var str = $("#saytext").val();
                //- $("#show").html(replace_em(str));
            });
            //查看结果
            function replace_em(str){
                str = str.replace(/\</g,'&lt;');
                str = str.replace(/\>/g,'&gt;');
                str = str.replace(/\n/g,'<br/>');
                str = str.replace(/\[em_([0-9]*)\]/g,'<img src="skin/plugs/comment/arclist/$1.gif" border="0" />');
                return str;
            }
        })
    include Shade/footer