extends Shade/layout
block content
    link(rel="stylesheet", href="skin/css/teach.min.css")
    .bg_white
        .teach_banner(style="background-image:url(skin/img/teach_banner.jpg")
        .page_warp.cf.mb40
            //左侧 764
            .teach_main.l
                // 首页视频列表
                .teach_main_box.viode_list
                    .btn_tab.btn_tab_viode
                        a(href="#").zx_btn.cur 投资人课堂
                        a(href="#").zx_btn 创业者课堂
                        a(href="#").zx_btn 独家图解
                    .box_tab.box_tab_viode.cf(style="display:block;")
                        .con.cf
                            dl.ml0
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl.ml0
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl.ml0
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl.ml0
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl.ml0
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 完整的投资体系
                        //翻页
                        <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>
                    .box_tab.box_tab_viode
                        .con.cf
                            dl.ml0
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl.ml0
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl.ml0
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl.ml0
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl.ml0
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                            dl
                                dt
                                    a(href="#")
                                        img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="",width="234", height="154")
                                dd 创业者课堂
                        //翻页
                        <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>
                    //独家图解
                    .box_tab.box_tab_viode
                        ul.con.cf
                            li.tj_list
                                a(href="#")
                                    img(src="skin/img/tjpic.jpg", alt="")
                            li.tj_list
                                a(href="#")
                                    img(src="skin/img/tjpic.jpg", alt="")
                            li.tj_list
                                a(href="#")
                                    img(src="skin/img/tjpic.jpg", alt="")
                             li.tj_list
                                a(href="#")
                                    img(src="skin/img/tjpic.jpg", alt="")
                            li.tj_list
                                a(href="#")
                                    img(src="skin/img/tjpic.jpg", alt="")
                            li.tj_list
                                a(href="#")
                                    img(src="skin/img/tjpic.jpg", alt="")
                             li.tj_list
                                a(href="#")
                                    img(src="skin/img/tjpic.jpg", alt="")
                            li.tj_list
                                a(href="#")
                                    img(src="skin/img/tjpic.jpg", alt="")
                            li.tj_list
                                a(href="#")
                                    img(src="skin/img/tjpic.jpg", alt="")
                        //翻页
                        <div class="black2"><span class="sp-cur">1</span><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#"><span>5</span></a><a href="#"><span>6</span></a><a href="#"><span>7</span></a><a href="#"><span>8</span></a><a href="#"><span>9</span></a><a href="#)"><span>10</span></a><a href="#">»</a></div>

            //右侧 294
            .teach_side.mt20.r
                //你可能感兴趣的课
                .teach_side_box.teach_free_class
                    .teach_side_t 你可能感兴趣的课
                    ul.con
                        li
                            a(href="#")
                                img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", width="188", height="116")
                            a.text(href="#") 完整的投资体系
                        li
                            a(href="#")
                                img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="", width="188", height="116")
                            a.text(href="#") 完整的投资体系
                .teach_side_box.teach_side_video.mt30
                    .teach_side_t
                        a(href="#").cur 众筹大课堂第一集
                        | |
                        a(href="#") 更多精彩视屏
                    .con
                        .video_play_box(href="#")
                            img(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//counseling/20160902/20160902175126.jpg", alt="")
                            .mask_layer
                            span.video_tag 直播
                            a.zx_btn.play_btn(href="#")
                            a(href="#").video_histroy 往期回顾
    include Shade/footer


