extends Shade/layout
block content
    link(rel="stylesheet", href="skin/css/zixun.min.css")
    link(rel="stylesheet", href="skin/plugs/comment/css/comment.css")
    .bg_white
        .page_warp
            .news_detail.zx_detail.cf
                //面包悄
                .crumb
                    a(href="#") 众筹资讯
                    | >
                    a(href="#") 热点资讯
                    | >
                    span.f_blue 政策
                .l_news.l
                    .news_detail_box.news_detail_box_txt
                        .news_detail_t 被称为股权众筹最成功的项目 如今被爆出严重的数据造假
                        .news_detail_time.cf
                            span.left
                                span.text_souce 来源：众筹之家
                                span.time 2016-08-26 16:12
                            span.right
                                span 收藏
                                span 评论（6）
                                span 阅读（66）
                        //-导读
                        .news_daodu
                            span.daodu_t 导读
                            |王健林一直强调，万达的海外扩张并非中国“土豪”，见什么买什么，其每一笔投资都有逻辑，比如万达就不会再买俱乐部，因为“不赚钱，有面子没里子，盈利基本都被球员拿走了”。
                        //编辑区开始
                        .news_inf_content#showImg.
                            <p><span style="font-size: 16px;">　　8月24日，一篇名为《“爱房筹”逾期未回本，投资者每日“查岗”》的文章刊登在南方都市报的封面，如同压死骆驼的最后一根稻草，给爱房筹的顺利回款蒙上一层浓浓的阴影，有不少投资人在看完后问道，“你们真的要跑路吗？”</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　投资人自然猜不透，在如今“见风即雨”的互联网金融行业，平台跑路却是再正常不过的事。但对于爱房筹CEO陈宏楷而言，如坐针毡？焦头烂额？也许都有，公关部的反应其实不慢，文章发布没多久，爱房筹的公关们便开始“灭火”，无奈南都这篇报道的传播速度太快，终究未能灭火成功。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　更重要的是，这不仅是一场简单的公关危机，更是关系到爱房筹生死存亡，甚至是整个<a href="https://www.zczj.com/news/2015-11-30/content_4987.html" target="_blank">房地产众筹</a>的前途。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　不得不说，作为房地产<a href="http://www.zczj.com" target="_blank">众筹</a>的一员，也作为国内eREITs<a href="https://www.zczj.com/news/2016-01-25/content_5914.html" target="_blank">众筹模式</a>的先行者，爱房筹是最为特殊的一个，也是最具有解读意义的。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　不过，在发达的互联网媒体下，大量充斥着愤青式的表达，以及公关稿、洗地稿。众筹之家作为垂直行业第三方媒体，还是希望本着严肃并客观的态度，来对爱房筹近几个月的遭遇进行剖析，为整个行业探寻出这个事件背后折射出来的深层次含义，从而探求更好的解决方法。</span></p><p><span style="font-size: 16px;">　　</span></p><p><strong><span style="font-size: 16px;">　　低估了政策影响因素 一步步走入绝境</span></strong></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　2016年3月份，国家统计局公布了70个大中城市2月各种住宅、商品房销售价格变动情况，果不其然，房价涨幅最高的城市依然是深圳，在此之前，深圳已经领涨全国房价有15个月之久，和去年同比暴涨57.8%。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　但与平时不同的是，媒体对房价的批判并没有停留在房价本身，开始反思高房价对深圳创客之都造成的冲击，以及随时可能会发生的大规模人才流失现象。诚惶诚恐，在2月份的时候，深圳市长许勤在接受南方都市报采访时坦承，“房价上涨确实快。”</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　那么，谁造就了高房价？谁在不断挑战深圳政府的底线？这成为全民讨论的话题，也成为不少媒体人乐于跟踪的线索。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　很快，3月8日，深圳市金融办下发了一份文件《关于商请提供防范房地产行业金融风险相关材料的函》，要求对深圳地区的P2P、小贷公司涉及众筹买房、“首付贷”或其他高杠杆房贷情况进行摸底排查。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　人们第一反应——原来一线城市尤其是深圳房价的暴涨，其真凶是众筹买房和“首付贷”。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　由之联想的最可能就是“楼市+场外配资”带来的“系统性风险”。毕竟由配资引发的股灾，仍历历在目。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　此时，距离全国首家eREITs模式的爱房筹成立还不到10个月，陈宏楷还在为eREITs模式到处宣传。值得一提的是，3月4日，爱房筹与深圳联合产权交易所达成合作协议，平台累计成交额也突破1亿元。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　真正让爱房筹感到危机的，可能是两周后的政策。3月25日，深圳市政府发布《关于完善住房保障体系促进房地产市场平稳健康发展的意见》，严禁互联网金融企业、小额贷款公司等金融机构从事首付贷、众筹购房、过桥贷等金融杠杆配资业务。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　那么，坚称“eREITs模式”的爱房筹怎么办？</span><span style="font-size: 16px; text-decoration: underline;"><strong>在那段时间里，我们也可以看到爱房筹的公关方向，每每有活动稿出炉，必然会重点提到爱房筹不是众筹炒楼，而是引进了国外的eREITs模式，并向人们表明两者有本质的区别。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　但到了这一步，舆论导向早就不是爱房筹能控制的了。各大新闻媒体纷纷发文报道了众筹炒房的危害，称1000元就可以坐等升值，称楼市一开盘就有人连夜排队，称众筹买房的人包下整栋楼来炒房价……</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　4月12日，深圳互联网金融协会发放通知，“注册地在深圳市的企业，须立即停止所有房地产众筹业务；注册地在外地但有房地产众筹项目在深圳市的，须停止在深圳市的所有房地产众筹项目。”巧的是，爱房筹的注册地正好在深圳。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　</span><span style="font-size: 16px; text-decoration: underline;"><strong>在通知发布后，爱房筹显然低估了此次危机造成的影响，在《中国经营报》的报道中，爱房筹平台接受记者采访时表示互金协会叫停的众筹炒房，与爱房筹的eREITs模式有本质区别，不在叫停范围内。结果，爱房筹还是选择持续上线新项目。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　后来房地产众筹联盟常务副秘书长马宁南下与多地互金协会沟通，得到反馈是互地协会认可房地产众筹业务本身的操作模式和商业逻辑，这也给敢于“独树一帜”的爱房筹增加了信心。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　反观深圳的其他房地产众筹平台，接到通知后，陆续暂停了相关业务，传言部分平台已选择转型。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　</span><span style="font-size: 16px; text-decoration: underline;"><strong>然而，爱房筹低估了深圳对于房地产众筹业务“一刀切”的坚决，同时平台也为没有第一时间暂停业务而付出代价。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　因为8月24日的报道，众筹之家向爱房筹进行了采访，爱房筹以文字形式进行了回复，</span><span style="font-size: 16px; text-decoration: underline;"><strong>平台在接到通知后，立即停止上线新物业项目，并将已上线预约但仍未开始众筹的项目及时安排下线，不予继续众筹。关于这一点，众筹之家从爱房筹在4月15日发布的公告有发现。出现双方说法的差异，疑似当时平台只下线了深圳地区的项目。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　到了5月，爱房筹宣布正式加入中国房地产众筹联盟，担任理事单位。在这一期间，或许受到了当地监管层的压力，其中的斡旋、自证清白，希望不要“一刀切”等情理，自在常理中。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　6月21日，爱房筹在官网发布暂停业务通知。果不其然，爱房筹的暂停业务公告引起轩然大波，不仅投资人在交流群里炸开了锅，而且国内房地产众筹行业也在担心会不会出现全国范围的封杀。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　虽然平台在官方公告承诺每周至少回款一次，但在实际操作过程中，还是出现敏感的逾期问题，这也是直接促成投资人向媒体爆料的直接原因。为此，爱房筹相关负责人向众筹之家表示，</span><span style="font-size: 16px; text-decoration: underline;"><strong>我们做的是商业地产，商业地产和普通住宅地产有很大区别，处置周期长，没办法按照监管要求在短时间内全部下线。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　如果说是无奈，但也无妨。为了应对政策带来的资金紧张问题，爱房筹曾在6月26日开放物业产权份额权益转让功能，为有转让退出意向的投资人提供可选通道，基于原众筹金额四至九折内转让。随后，陈宏楷拿出个人持有的10%公司股份，赠予符合条件的投资者，希望可以换来投资人对平台的支持。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　</span><span style="font-size: 16px; text-decoration: none;"><strong>　</strong></span><span style="font-size: 16px; text-decoration: underline;"><strong>然而，现实是残酷的，逾期问题一日没有解决，就很难挽回投资人的信任。对投资人而言，互联网金融平台“雷了”的现象，出现太多次，爱房筹又有什么特殊？</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　根据南都报道的事实，爱房筹此次因资金紧张受到影响的投资者共计约5000人，涉及本金8000余万元。据悉，平台目前累计投资总额约1.99亿元。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　在一家自媒体的评测中，认为平台钻了政策空子，深圳市不让做房地产众筹，所以平台找了除了深圳外的其他珠三角城市项目，而广州市的协会是无法跨界监管注册地在深圳的平台。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　</span><span style="font-size: 16px; text-decoration: underline;"><strong>回顾爱房筹的历程，如同坐过山车一样，风光过，最终戛然而止，不得不暂停所有业务，甚至被迫选择转型。</strong></span><span style="font-size: 16px;">其中原因，有平台自身的因素，低估了政策对平台造成的影响，有天时的因素，恰好赶上了深圳房价的暴涨，也有环境的影响，国内REITs模式的探索刚刚开始，监管对这一模式的认可，还需要时间。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　但不管如何，爱房筹确实被逼入了绝境。</span></p><p><span style="font-size: 16px;">　　</span></p><p><strong><span style="font-size: 16px;">　　众筹炒楼和eREITs模式 妖魔化的解读</span></strong></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　需要注意的是，众筹炒楼和eREITs众筹有本质的区别。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　</span><span style="font-size: 16px; text-decoration: underline;"><strong>众筹炒楼是指以高收益为手段，通过短期买卖方式进行楼市投机。</strong></span><span style="font-size: 16px;">一般来说，众筹炒楼平台发布项目信息，吸引炒房客投资，起投金额有低至千元，也有几百万起。然后由运作团队专门负责炒楼事宜，房屋产权资料由投资方保管持有，运作团队不经手资金和产权，盈利按合作方案分成。从本质来说，其实是一种伪众筹模式。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　</span><span style="font-size: 16px; text-decoration: underline;"><strong>eREITs模式是借鉴美国Fundrise Income eREIT的模式和经验，把互联网众筹作为房地产投资的前端募资工具，让用户以较少的资金参与到房地产投资之中。</strong></span><span style="font-size: 16px;">房地产众筹以物业的产权为标的，使资产本身更加清晰明确，也更具有安全性。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　相比较下，众筹炒楼其实是短期投机行为，把以前的“凑份子炒楼”从线下搬到了线上，通过众筹的方式募集资金后，交付首付款，然后短期持有产生增值后立刻出售，典型的“短买短卖”，其结果会造成房价波动，从而产生系统性风险。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　为此，众筹之家也向爱房筹求证它的模式，平台相关负责人贴出了4月13日的公告内容，称平台主要通过长期持有运营从而获取较高的租金收益，而非短期炒卖。现在平台上线的商业性地产的持有期限一般均在3年以上，通过长期运营为投资人获取客观的租金收益，过往项目租金收益率在年化5%左右。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　同时，爱房筹表示，平台通过众筹投资商业性地产的方式，均为一次性支付购房款，并没有采取银行按揭等金融杠杆方式进行购置物业。因此，爱房筹的业务性质不会存在因房价波动而导致的银行系统性金融风险。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　</span><span style="font-size: 16px; text-decoration: underline;"><strong>那为什么还有很多抨击房地产众筹呢？我们应该这样看，市场上涌现的众筹买房、众筹炒楼、房地产众筹等等，由于模式新颖，普通大众对这些模式很难清楚认识各种模式的差别，容易把房地产众筹等同于众筹炒楼，再加上很多媒体对这些模式的理解也有偏差，经常出现“一杆子打死”的报道，无疑加剧了普通大众对这个行业的不信任。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　事实上，2014年是房地产众筹快速发展的一年，到了2015年6月，平安好房与大华基金宣布成立国内第一只地产众筹基金，规模达50亿元，同地联合万科、绿地、万通等数十家房地产企业成立中国房地产众筹联盟。房地产众筹也因此进入了新阶段。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　后来房地产大佬万达集团也推出了房地产众筹项目，与快钱共同打造的<a href="https://www.zczj.com/project/" target="_blank">众筹项目</a>“稳赚1号”，号称“最低只要1000元，就能成为万达广场股东”。不过，与爱房筹不同的是，万达商业只负责选址、设计、建设、招商及管理，收取30%的租金收益，属于轻资产模式。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　值得一提的是，房地产众筹从去年年底的大热，媒体热议，到如今爱房筹的窘境。可以对比下近段时间的<a href="https://www.zczj.com/news/2016-08-15/content_8156.html" target="_blank">众筹炒股</a>，会发现两者有一定相似性——同样拥有庞大的市场规模，同样受到媒体热议（热捧）。唯一不同的是，今年的股市没有出现股灾，而房价却出现一路暴涨。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　房地产众筹也好，众筹炒股也罢，走在监管前面的创新自然而然会面临很多非议，关键在于我们怀着一颗怎么样的态度去看，以及反思是否有必要“一棒打死”这些创新模式。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　当然，鼓励试错也不是随意而为之。有些人认为鼓励试错就是容许犯错，只要结果是好的，无论失败多少次都可以。但实际上，这是试探，不是试错。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　</span><span style="font-size: 16px; text-decoration: underline;"><strong>真正的试错首先要明白目的是什么，其次是试错的结果有没有意义，再者能不能把风险控制在一定范围内。</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　那么，读者可以把这三个条件放在房地产众筹，看看能否满足，再下定论。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　众筹之家CEO王正然表示，</span><span style="font-size: 16px; text-decoration: underline;"><strong>“爱房筹聚集的是商用物业不良资产处置，它的体量还不足以影响房价，而且reits模式在国外已经成熟，主要收入来源是租金收入，爱房筹本身有一定的模式创新，如果被“一刀切”的政策逼得倒闭，那么对行业本身也不是好事。同时，这在一定程度上也反映了国内金融监管一松就乱，一紧就死。”</strong></span></p><p><span style="font-size: 16px;">　　</span></p><p><strong><span style="font-size: 16px;">　　走出困境</span></strong></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　有一位不愿透露姓名的互金人士表示，爱房筹的模式本来不错，就是偏偏碰上这个政策了，命不好。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　命不好，其实是一种惋惜之意。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　放眼全国，房地产众筹平台不只有爱房筹一家，只是因为其他平台注册所在地的政策环境相对轻松，多数平台仍然正常运营。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　从众筹之家这几天在爱房筹的多个维权群驻扎来看，平台存在相当一部分“擼羊毛”的投资客，多是从原P2P阵营转战过来的。据了解，这或许与爱房筹前期“凶猛”的推广有关系。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　但是，不管是真实投资人，还是“羊毛客”，本着负责任态度，还是希望平台能走出困境。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　根据爱房筹给众筹之家提供的平台基本情况，结合南都的报道，目前爱房筹解决投资人回款逾期办法主要有两条路。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　一是顺利完成两只基金的入场，解决平台资金紧张的问题，进而顺利帮投资人完成退款。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　二是充分利用平台手握的存量，根据平台负责人的说法，现在平台持有的物业估值超过一亿元，实在不行就进行变卖处理。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　当然，再往远一点看，转型或许是一劳永逸的办法。</span></p><p><span style="font-size: 16px;">　　</span></p><p><span style="font-size: 16px;">　　然而现在，一面是步步紧逼的投资人，另一面是监管的压力，不知陈宏楷在办公室看到外面珠江新城的景象时，是否会感慨去年的此时光景？</span></p><p><br></p>
                        //编辑区结束
                        .new_tags_array
                            a(href="#").btn 大姨吗
                            a(href="#").btn 互联网金融
                            a(href="#").btn 众筹
                        .news_erCode
                            p.
                                解读新闻热点、呈现敏感事件、更多独家分析，尽在众筹之家微信
                                （ID：zczhijia），请扫描二维码转发。
                            //-img(src="https://www.zczj.com/skin/images/code.jpg", alt="")
                            .t_center
                                span#erweima(style="display:block; width:200px; height:200px; margin: 0 auto;")
                        .news_share.cf
                            .bnt_share 声明
                            .statement_box
                                p 1.众筹之家(www.zczj.com)所发布、转载、摘编的文章大多来源于互联网（我们会尽量标注来源和作者）。转载目的在于传递更多信息，不代表本网观点及真实性，如果作品内容、版权和其它问题侵害到您的权益，我们感到很抱歉，并将火速处理。联系方式：0755-82557958，也诚挚地欢迎您给我们投稿，谢谢！
                                p 2.众筹之家的原创文章，版权属于众筹之家。允许转载的文章转载请注明作者和“来源：众筹之家(www.zczj.com)”，不允许转载的文章仅供阅读。不尊重原创的行为众筹之家或将追究责任。
                            .share.r.
                                <div class="bdsharebuttonbox" style="float:right">
                                                                <span style="float: left; font-size: 12px; color: #666; line-height: 25px;">分享到：</span>
                                                                <a style="width: auto;" href="#" class="bds_more" data-cmd="more"></a>
                                                                <a style="width: auto;" title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                                                                <a style="width: auto;" title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                                                                <a style="width: auto;" title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
                                                                <a style="width: auto;" title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a>
                                                                <a style="width: auto;" title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                                </div>
                                <script>
                                    window._bd_share_config = {
                                        common: {
                                            bdPic: ''
                                        },
                                        share: [{
                                            "bdSize": 16
                                        }],
                                    }

                                    //以下为js加载部分
                                    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];;
                                </script>
                    .news_detail_box.comment.
                        <div id="comment">
                        <input type="hidden" id="newid" value="8354">
                        <div class="comment_head">
                        网友评论
                        <span class="commentCount">（已有1条评论）</span>
                        </div>
                        <div class="comment_post_txt">
                        <div class="comment_post_t">
                        <textarea name="saytext_0" placeholder="来说两句吧..." id="saytext_0" class="input" data-parent="0" data-comm="0"></textarea>
                        <div class="comment_post_btn">
                        <i class="icon icon_face emotion"></i>
                        <a href="javascript:void(0)" class="btn btn_comment">评论</a>
                        <input type="text" id="commCode" name="commCode" class="input2" autocomplete="off">
                        <img class="reg-num" src="/news2016/VerifyImageComment" id="VerifyImageTop" title="看不清？点击换一个" onclick="javascript:document.getElementById('VerifyImageTop').src='/news2016/VerifyImageComment?r='+Math.random();return false;">
                        </div>
                        </div>
                        </div>
                        <div class="comment_list comment_hot">
                        </div>
                        <div class="comment_list comment_new">
                        <div class="comment_list_t">以下为最新评论</div>
                        <div class="com_list">
                        <div class="com_li">
                        <span class="author"><img src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160729/20160729113151.jpg" onerror="nofind(this)" alt=""></span>
                        <p class="com_title"><span class="com_user">salena飞飞飞飞飞飞</span>：<img src="/skin/plugs/comment/arclist/63.gif" border="0"> </p>
                        <ul class="com_replay_list">
                        </ul>
                        <p class="com_tools"><span class="com_zan"><span class="com_jb" data-commid="3893">举报</span><span class="zan" data-commid="3893"><i class="icon icon_com_zan"></i>（0）</span>|<span class="comment_replay">评论</span></span><span class="com_data">09月01日 14:07</span></p>
                        <div class="comment_post_txt comment_list_replay">
                        <div class="comment_post_t">
                        <textarea name="saytext_3" placeholder="写评论" id="saytext_3" class="input" data-parent="3893"></textarea>
                        <div class="comment_post_btn">
                        <i class="icon icon_face emotion"></i><a href="javascript:void(0)" class="btn btn_comment">评论</a>
                        <input type="text" id="commCode" name="commCode" class="input2" autocomplete="off">
                        <img class="reg-num" src="/news2016/VerifyImageReply" id="VerifyImage_3893" title="看不清？点击换一个" onclick="javascript:document.getElementById('VerifyImage_3893').src='/news2016/VerifyImageReply?r='+Math.random();return false;">
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                //
                .zx_side.r
                    .zx_side_box.zx_side_top10.mt20.cf
                        .zx_s_t TOP10
                        .sort_bar
                            a(href="#").cur 日排行
                            a(href="") 周排行
                        ul
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                            li.cf
                                a.sort_t(href="#") 购房需警惕!地产众筹真正目的
                                .sort_status.cf
                                    span.l 5分钟前
                                    span.r 4500
                        .show_more.t_center
                            a(href="#").zx_btn.btn_blue 查看更多
                    //名家推荐
                    .zx_side_box.zx_side_mjtj.mt20
                        .zx_s_t 名家推荐
                        ul
                            li.cf
                                img.l(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160716/20160716105125.jpg", alt="")
                                p.user_name 宋欢平
                                p.text.
                                    创投新兵，华侨跃梦天使基金的合伙人
                            li.cf
                                img.l(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160716/20160716105125.jpg", alt="")
                                p.user_name 宋欢平
                                p.text.
                                    创投新兵，华侨跃梦天使基金的合伙人
                            li.cf
                                img.l(src="https://zczj01.oss-cn-shenzhen.aliyuncs.com//avatar/20160716/20160716105125.jpg", alt="")
                                p.user_name 宋欢平
                                p.text.
                                    创投新兵，华侨跃梦天使基金的合伙人
                    //link
                    .zx_side_box.zx_side_link.mt20
                        .zx_s_t 友情链接
                        .zx_side_con
                            a(href="#") 红岭创投
                            a(href="#") 网贷中国
                            a(href="#") 众筹社区
                            a(href="#") 云筹
                            a(href="#") 众投邦
                            a(href="#") 火球网

                            a(href="#") P2P网贷
                            a(href="#") P2P网贷平台

                            a(href="#") 高收益理财产品
                            a(href="#") 创投圈

                            a(href="#") 炒股入门知识
                            a(href="#") 信用卡排行榜
                            a(href="#") 安捷财富
                            a(href="#") p2p理财连锁

                            a(href="#") 互联网金融
                            a(href="#") 私募排排网

                            a(href="#") 信用卡申请
                            a(href="#") 借贷网
                            a(href="#") 网贷众筹

                            a(href="#") 广东互联网金融协会

                            a(href="#") 深窗生活频道
                            a(href="#") 财股网财经理财
                            a(href="#") 基金投资
                            a(href="#") 希财众筹超市
                    //关于我们
                    .zx_side_box.zx_side_aboutUs.mt20
                        .zx_s_t 关于我们
                        .logo_min
                            img(src="skin/img/logo_min.png", alt="")
                        p.log_t.f_blue 行业最有价值第三方平台
                        p.links

                            a(href="#") 关于我们
                                ||
                            a(href="#") 网站公告
                                ||
                            a(href="#") 商务合作
                                ||
                            a(href="#") 隐私声明
                        .weixin
                            img(src="https://www.zczj.com/skin/images/code.jpg", alt="")
                            p 【官方微信号】
                        .link_fs.
                            联系人：之家妹 <br>
                            联系电话：0755-82557958 <br>
                            邮箱：service@zczj.com
                        p.addres.
                            深圳市网筹互联网金融服务有限公司
                            ICP证：粤ICP备14040204号-2
                    //翻页 下一页
                    .zx_side_box.zx_side_page
                        dl
                            dt 下一篇
                            dd
                                a(href="#").
                                    王健林的投资并购不仅仅是“有钱”
                                    还有他的逻辑
                            dd  来源：众筹之家
    script(src="skin/js/jquery-qrcode.min.js")
    script.
        $("#erweima").qrcode({
            render: "table", //table方式
            width: 200, //宽度
            height:200, //高度
            text: window.location.href //任意内容
        });



