#comment,.commentzczj{
    width: 100%; margin: 0 auto; padding: 0; bottom: 0; font-weight: 400; text-align: left; height: 100%; color:#333; line-height: 1; font-size: 1rem;
    .comment_head{
        padding:1rem 0; height: 2rem; line-height: 2rem;
        -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        span{ color:#616a73; font-size: .8rem;}
    }
    .comment_post_txt{
        background:#d8e7ff; padding: 10px 0;
        .comment_post_t{
             margin:20px 15px; position: relative;
             textarea{ width: 98%; text-indent: 10px;  height: 1.6rem; padding: .3rem 1%; line-height: 1.6rem; box-sizing:content-box;}
             .icon_bi{position: absolute; top: .6rem; left: 6px;}

        }
        &.comment_list_replay{
            display: none;
        }
    }
    .icon{
        display: inline-block; vertical-align: middle; margin-top: -3px; background-image:url(../img/icon-comment.png); background-repeat: no-repeat;
        &.icon_bi{ width: 22px; height: 22px; background-position: 0 0;}
        &.icon_face{ width: 25px; height: 25px; background-position: -22px 0;}
        &.icon_com_zan{ width: 18px; height: 18px; background-position: -47px 0;}
    }
    .btn{
        display: inline-block;
        &:hover{ opacity:0.9}
        &.btn_comment{ background:#0c72c3; color:#fff; height: 2rem; line-height: 2rem; padding: 0 3rem; border-radius: .2rem;}
    }
    .comment_post_btn{
        position: relative; margin-top: 10px;
        .btn_comment{ float: right;}
        .icon_face{ margin-left: 10px;}
    }

    .comment_list{
        margin-top: 1rem;
        .comment_list_t{ color:#616a73; font-size: 1rem;}
        .com_li{
            position: relative; padding: 10px 0 20px 50px; min-height: 50px;border-bottom: 1px #e7eaee solid;
            .author{
                width: 38px; height: 38px; position: absolute; left: 0; top: 30px; border-radius: 19px; overflow: hidden;
                img{ width: 38px; height: 38px;}
            }
            .com_title{
                padding:6px 0; line-height: 1.6; font-size: 1rem; color:#616a73;
                .com_user{ color:#3e85ff;}
            }
            .com_replay_list{
                background:#e4eeff; line-height: 1.6; font-size: .85rem; color: #616a73;
                li{
                    margin:4px 0; padding: .2rem 1rem ;
                    .com_user{
                        color:#3e85ff;
                    }
                }
            }
            .com_tools{
                font-size: .8rem; color:#616a73; margin: 1rem 0 .3rem ; height: 1rem;
                .com_data{float: left;}
                .com_zan{ float: right;
                    span{
                        padding: 0 10px;
                        &.comment_replay{
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        &.com_jb{ display: none; cursor: pointer;}
                    }
                }
            }
            &:hover{
                .com_tools{
                    .com_zan{
                        span{
                            &.com_jb{ display: inline;}
                        }
                    }
                }
            }
        }
    }
    .qqFace{
        padding:10px; background:rgba(255,255,255,0.7); border-radius: 10px;
    }
}